html {
    margin: 0;
    padding: 0;
}
html body {
    margin: 0;
    padding: 0;
}
#navbar-base {
    margin: 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
#totop {
    width: 7em;
    height: auto;
    position: fixed;
    right: -3px;
    bottom: 35px;
    display:none;
    outline:none;
}
#pad {
    padding: 20px;
    font-size: 15px;
}
.fa span {
     font-family:Helvetica,Arial,sans-serif;
}
a.navbar-brand {
    padding:11px 30px;
}
.caret {
    padding-bottom:9px;
}
footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ECE6DF 0%, rgba(255, 251, 233, 0.03) 50%, #ECE6DF 100%);
    margin-top:40px;
    padding: 4%;
    color:#5E4485;
}
.col-sm-4 .fa {
    padding: 13px;
    font-size: 30px;
    color: #5E4485;
    text-decoration: none;
}
.col-sm-4 .fa:hover{
    color:rgba(110, 90, 171, 0.75);
}
#music {
    left: -380px;
    bottom: 300px;
    position: fixed;
    display:block;
    z-index:1000;
    color: #f009;
    text-decoration: none;
}
#music-bar {
    left: 25px;
    bottom: 66px;
    position: fixed;
    display:block;
    outline:none;
    font-size: 40px;
    text-decoration: none;
    color:rgba(255, 0, 0, 0.48);
    cursor:pointer;
}
#music-foot {
    position:fixed;
    bottom:318px;
    margin-left:104px;
    text-align:center;
}
#music-ctrl {
    font-size:20px;
    color:rgba(255, 0, 0, 0.77);
    cursor:pointer;
}
#music-text {
    font-size:13px;

    color:#57B5C5;
}




