html {
    margin: 0;
    padding: 0;
}
html body {
    margin: 0;
    padding: 0;
}
#navbar-base {
    margin: 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
#totop {
    width: 7em;
    height: auto;
    position: fixed;
    right: -3px;
    bottom: 35px;
    display:none;
    outline:none;
}
#pad {
    padding: 20px;
    font-size: 15px;
}
.fa span {
     font-family:Helvetica,Arial,sans-serif;
}
a.navbar-brand {
    padding:11px 30px;
}
.caret {
    padding-bottom:9px;
}
footer {
    width: 100%;
    height: 100%;
    background: #B0E0E6;
    margin-top:40px;
    padding: 4%;
    color: #5E4485;
}
.col-sm-4 .fa {
    padding: 13px;
    font-size: 30px;
    color: #5E4485;
    text-decoration: none;
}
.col-sm-4 .fa:hover{
    color:blue;
}
#music {
    left: -380px;
    bottom: 100px;
    position: fixed;
    display:block;
    color: #f009;
    text-decoration: none;
}
#music-bar {
    left: 25px;
    bottom: 66px;
    position: fixed;
    display:block;
    outline:none;
    font-size: 40px;
    text-decoration: none;
    color:rgba(255, 0, 0, 0.48);
    cursor:pointer;
}
#music-ctrl {
    position:relative;
    top:-65px;
    margin-left:90px;
    font-size:20px;
    color:rgba(255, 0, 0, 0.77);
    cursor:pointer;
}
#music-text {
    position:relative;
    top:-65px;
    margin-left:144px;
    font-size:13px;
    color:#57B5C5;
}


