html body {
    margin: 0;
    padding: 0;
    font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}
body a{
    outline:none;
}
.body_night2 {
    background-color:rgba(0, 0, 0, 0.5);
}
.body_light2 {
    background-color:rgba(0, 0, 0, 0);
}
.body_night {
    animation: change3 1s linear 0s 1;
    background-color:rgba(0, 0, 0, 0.5);
}
.body_light {
    animation: change4 1s linear 0s 1;
    background-color:rgba(0, 0, 0, 0);
}
@keyframes change3 {
    0%{background-color:rgba(0, 0, 0, 0);}
    100% {background-color:rgba(0, 0, 0, 0.5);}
}
@keyframes change4 {
    0%{background-color:rgba(0, 0, 0, 0.5);}
    100% {background-color:rgba(0, 0, 0, 0);}
}
#navbar-zhan{
    height:61px;
}
#navbar-base {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:61px;
    margin: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
.navbar-scroll{
    background-color: rgba(255, 255, 255, 0.9)!important;
    box-shadow:0 1px 6px #888888;
}
#totop {
    position: fixed;
    width: 7em;
    height: auto;
    right: -3px;
    bottom: 66px;
    z-index:3;
    outline:none;
    display:none;
    opacity:0.5;
    cursor:pointer;
}
#totop:hover{
    opacity:1!important;
}
.pad{
    padding: 20px!important;
    color:rgba(0, 0, 0, 0.43)!important;
    font-size: 15px!important;
    cursor:pointer;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
.pad:hover{
    text-shadow:0 0 15px #888888;
}
.pad i {
    color:rgba(0, 0, 0, 0.43);
}
#search-form{
    position:relative;
}
#navbar-form{
    position:absolute;
    top:77px;
    left:0;
    display:none;
}
#navbar-form .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(204, 204, 204, 0.68);
    border-radius:0;
}
.fa span {
     font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}
a.navbar-brand {
    margin-top:11px;
    margin-left: 5px!important;
    padding:0px;
    outline:none;
}
.caret {
    padding-bottom:9px;
}
.col-sm-4 .fa {
    padding: 13px;
    font-size: 30px;
    text-decoration: none;
}
.col-sm-4 .fa-weibo {
    color: #E6162D;
}
.col-sm-4 .fa-github {
    color: #24292E;
}
.col-sm-4 .fa-chrome {
    color: rgba(45, 210, 126, 0.76);
}
.col-sm-4 .fa-instagram {
    font-weight:600;
    background-image:
        -webkit-gradient( linear, right top, left bottom, color-stop(0, #7443CA),
        color-stop(0.25, #C73B94),
        color-stop(0.5, #FF7844),
        color-stop(0.75, #FFCC52),
        color-stop(1, #FFCC52) );
    color: transparent;
    -webkit-background-clip: text;
}
.col-sm-4 .fa-twitter {
    color: rgba(110, 90, 171, 0.75);
}
#music {
    position: fixed;
    left: -380px;
    bottom: 300px;
    display:block;
    z-index:1000;
    color: #f009;
    text-decoration: none;
}
#music-bar {
    position: fixed;
    left: -14px;
    bottom: -14px;
    display:block;
    outline:none;
    width:100px;
    z-index:3;
    cursor:pointer;
}
#music-bar:hover {
    color: rgba(0, 84, 255, 0.5);
}
#music-foot {
    position:fixed;
    bottom:318px;
    margin-left:130px;
    text-align:center;
}
#music-ctrl {
    font-size:20px;
    color:rgba(255, 0, 0, 0.77);
    cursor:pointer;
}
#music-text {
    font-size:13px;
    color:#57B5C5;
}
#music-bar-tip .tooltip {
    position:fixed!important;
    margin-top:-15px!important;
}
#music-bar-tip .tooltip-inner {
    max-width: 157px!important;
    color: #e7f4f6!important;
    padding:5px 5px!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
#music-bar-tip .tooltip.top .tooltip-arrow{
    border-top-color:rgba(0, 0, 0, 0.7)!important;
}
#site_logo_a{
    position:relative;
}
#site_logo1{
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:40px;
    display:none;
}
#site_logo2{
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:40px;
    opacity:1;
}
#site_logo3{
    width:80px;
    height:40px;
    opacity:0;
}
#navbar-form .form-group{
    position:relative;
    top:-17px;
}
#search_box{

   width:0;
}
#skPlayer {
    width: 360px;
}
#skPlayer .skPlayer-control {
    padding: 10px 0px 17px 10px;
    float: left;
}
#skPlayer .skPlayer-control > .skPlayer-percent {
    width: 235px;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-percent {
    width: 100px;
}
#skPlayer .skPlayer-control .skPlayer-volume {
    margin: 2px 24px 0 0;
}
.fa-forward,.fa-backward{
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
.fa-forward:hover{
    -webkit-transform: translate(5px);
    -moz-transform: translate(5px);
    transform: translate(5px);
}
.fa-backward:hover{
    -webkit-transform: translate(-5px));
    -moz-transform: translate(-5px);
    transform: translate(-5px);
}
.fa-forward:hover,.fa-backward:hover{
    color:rgb(125, 96, 214);
    text-shadow:0px 0px 10px rgb(180, 180, 253);
}
#navbar-collapse i{
    position:relative;
    top:-40px;
    left:0;
}
#footer_fluid{
    position:relative;
    width:auto;
    height:350px;
}
#footer_sky{
    position:absolute;
    top:-50px;
    left:0;
    width:100%;
    height:450px;
    display:none;
    background: url(/static/image/bg_sky.png) 0 top repeat-x;
    animation:bg-sky-scroll 50s linear infinite;
}
@keyframes bg-sky-scroll {
    0%{ background-position: 0 top }
    100%{ background-position: 1300px top }
}
footer{
    position:fixed;
    bottom:-190px;
    left:0;
    width:100%;
    padding:4%;
}
#navbar-shou{
    cursor:pointer;
    display:none;
}
#navbar-shou1, #navbar-shou2{
    position:absolute;
    left:49%;
    width: 30px;
    height: 30px;
    border-top: 1px #888888 solid;
    border-left: 1px #888888 solid;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}
#navbar-shou1{
    top:20px;
}
#navbar-shou2{
    top:40px;
    opacity:0;
}
#navbar-shou:hover #navbar-shou2{
    top:30px;
    opacity:1;
    border-top: 1px black solid;
    border-left: 1px black solid;
}
#navbar-shou:hover #navbar-shou1{
    border-top: 1px black solid;
    border-left: 1px black solid;
}
