html {
    margin: 0;
    padding: 0;
}
html body {
    margin: 0;
    padding: 0;
    font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}

#navbar-base {
    margin: 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
#totop {
    width: 7em;
    height: auto;
    position: fixed;
    right: -3px;
    bottom: 66px;
    outline:none;
    display:none;
    cursor:pointer;
}
#pad {
    padding: 20px;
    font-size: 15px;
}
#navbar-form {
    margin-top: 14px;
}
#navbar-form .form-control {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(204, 204, 204, 0.68);
    border-radius:0;
}
#navbar-form button {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(204, 204, 204, 0.68);
    border-radius:0;
}
#navbar-form span {
    color:#787878;
}
.fa span {
     font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}
a.navbar-brand {
    padding:11px 30px;
}
.caret {
    padding-bottom:9px;
}
footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ECE6DF 0%, rgba(255, 251, 233, 0.03) 50%, #ECE6DF 100%);
    margin-top:40px;
    padding: 4%;
    color:#394265;
}
.col-sm-4 .fa {
    padding: 13px;
    font-size: 30px;
    text-decoration: none;
}
.col-sm-4 .fa-weibo {
    color: #E6162D;#24292E
}
.col-sm-4 .fa-github {
    color: #24292E;
}
.col-sm-4 .fa-chrome {
    color: #19A15F;
}
.col-sm-4 .fa-instagram {
    font-weight:600;
    background-image:
        -webkit-gradient( linear, right top, left bottom, color-stop(0, #7443CA),
        color-stop(0.25, #C73B94),
        color-stop(0.5, #FF7844),
        color-stop(0.75, #FFCC52),
        color-stop(1, #FFCC52) );
    color: transparent;
    -webkit-background-clip: text;
}
.col-sm-4 .fa-twitter {
    color: rgba(110, 90, 171, 0.75);
}
#music {
    left: -380px;
    bottom: 300px;
    position: fixed;
    display:block;
    z-index:1000;
    color: #f009;
    text-decoration: none;
}
#music-bar {
    left: -14px;
    bottom: -14px;
    position: fixed;
    display:block;
    outline:none;
    width:100px;
    cursor:pointer;
}
#music-bar:hover {
    color: rgba(0, 84, 255, 0.5);
}
#music-foot {
    position:fixed;
    bottom:318px;
    margin-left:104px;
    text-align:center;
}
#music-ctrl {
    font-size:20px;
    color:rgba(255, 0, 0, 0.77);
    cursor:pointer;
}
#music-text {
    font-size:13px;
    color:#57B5C5;
}
#music-bar-tip .tooltip {
    margin-top:-15px!important;
    position:fixed!important;
}
#music-bar-tip .tooltip-inner {
    max-width: 157px!important;
    color: #e7f4f6!important;
    padding:5px 5px!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
#music-bar-tip .tooltip.top .tooltip-arrow{
    border-top-color:rgba(0, 0, 0, 0.7)!important;
}
