html body {
    margin: 0;
    padding: 0;
    font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}
body a{
    outline:none;
}
.body_night2 {
    background-color:rgba(0, 0, 0, 0.24);
}
.body_light2 {
    background-color:rgba(0, 0, 0, 0);
}
.body_night {
    animation: change3 1s linear 0s 1;
    background-color:rgba(0, 0, 0, 0.24);
}
.body_light {
    animation: change4 1s linear 0s 1;
    animation: change4 1s linear 0s 1;
}
@keyframes change3 {
    0%{background-color:rgba(0, 0, 0, 0);}
    100% {background-color:rgba(0, 0, 0, 0.24);}
}
@keyframes change4 {
    0%{background-color:rgba(0, 0, 0, 0.24);}
    100% {background-color:rgba(0, 0, 0, 0);}
}
#navbar-base {
    position: relative;
    margin: 0px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
#navbar-base .navbar-click {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.342);
    position: absolute;
    animation: bian 0.5s linear both 1;
}
@keyframes bian {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(8)
    }
}
#totop {
    position: fixed;
    width: 7em;
    height: auto;
    right: -3px;
    bottom: 66px;
    outline:none;
    display:none;
    cursor:pointer;
}
.pad {
    padding: 20px!important;
    font-size: 15px!important;
}
#navbar-form {
    margin-top: 14px;
}
#navbar-form .form-control {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(204, 204, 204, 0.68);
    border-radius:0;
}
#navbar-form button {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(204, 204, 204, 0.68);
    border-radius:0;
}
#navbar-form span {
    color:#787878;
}
.fa span {
     font-family:"MicroSoft YaHei",Helvetica,Arial,sans-serif;
}
a.navbar-brand {
    margin-top:11px;
    margin-left: 5px!important;
    padding:0px;
    outline:none;
}
.caret {
    padding-bottom:9px;
}
footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ECE6DF 0%, rgba(255, 251, 233, 0.03) 50%, #ECE6DF 100%);
    margin-top:40px;
    padding: 4%;
    color:#394265;
}
.col-sm-4 .fa {
    padding: 13px;
    font-size: 30px;
    text-decoration: none;
}
.col-sm-4 .fa-weibo {
    color: #E6162D;#24292E
}
.col-sm-4 .fa-github {
    color: #24292E;
}
.col-sm-4 .fa-chrome {
    color: #19A15F;
}
.col-sm-4 .fa-instagram {
    font-weight:600;
    background-image:
        -webkit-gradient( linear, right top, left bottom, color-stop(0, #7443CA),
        color-stop(0.25, #C73B94),
        color-stop(0.5, #FF7844),
        color-stop(0.75, #FFCC52),
        color-stop(1, #FFCC52) );
    color: transparent;
    -webkit-background-clip: text;
}
.col-sm-4 .fa-twitter {
    color: rgba(110, 90, 171, 0.75);
}
#music {
    position: fixed;
    left: -380px;
    bottom: 300px;
    display:block;
    z-index:1000;
    color: #f009;
    text-decoration: none;
}
#music-bar {
    position: fixed;
    left: -14px;
    bottom: -14px;
    display:block;
    outline:none;
    width:100px;
    cursor:pointer;
}
#music-bar:hover {
    color: rgba(0, 84, 255, 0.5);
}
#music-foot {
    position:fixed;
    bottom:318px;
    margin-left:104px;
    text-align:center;
}
#music-ctrl {
    font-size:20px;
    color:rgba(255, 0, 0, 0.77);
    cursor:pointer;
}
#music-text {
    font-size:13px;
    color:#57B5C5;
}
#music-bar-tip .tooltip {
    position:fixed!important;
    margin-top:-15px!important;
}
#music-bar-tip .tooltip-inner {
    max-width: 157px!important;
    color: #e7f4f6!important;
    padding:5px 5px!important;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
#music-bar-tip .tooltip.top .tooltip-arrow{
    border-top-color:rgba(0, 0, 0, 0.7)!important;
}
#site_logo_a{
    position:relative;
}
#site_logo1{
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:40px;
    opacity:0;
    transition:all .2s;
}
#site_logo_a:hover #site_logo1{
    opacity:1;
}
#site_logo2{
    width:80px;
    height:40px;
    opacity:1;
    transition:all .2s;
}
#site_logo_a:hover #site_logo2{
    opacity:0;
}



