body {
    background: url(/static/image/map.png) repeat right top;
}
.panel {
    margin:10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    box-shadow: 6px 6px 6px rgba(63,74,105,.16);
}
.panel-default>.panel-heading{
    background-color: rgba(255, 255, 255, 0);
}
.breadcrumb{
    background-color: rgba(255, 255, 255, 0);
}
ul {
    list-style-type: none;
    font-size:18px;
}
div.paginator {
    text-align: center;
}
.pagination {
    box-shadow:0px 0px 6px 6px rgba(63,74,105,.16);
}
.pagination > .active > span {
    background-color: #337ab780;
    border-color: #ddd;
}
.pagination > .active > span:hover {
    background-color: #2a567b80;
    border-color: #ddd;
}
div.blog-content {
    line-height:180%;
    font-size: 17px;
    text-indent: 2em;
    margin:10px 10px 20px 20px;
}
div.blog-content img {
    display: block;
    height: auto;
    max-width: 90%;
}
div.blog-more {
    margin-top: 1em;
}
div.django-ckeditor-widget {
    width: 100%;
}
div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
.media {
    padding:13px;
    border: 1px solid rgba(141, 143, 160, 0);
}
.media:hover {
    border: 1px solid #ccc;
}
.media .row {
    margin-bottom: 16px;
}
#content {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.media-heading {
    padding-top: 10px;
    padding-right: 10px;
    text-align:center;
}
.img-rounded {
    margin: 18px 0px 0px 10px;
}
.blog-types a{
    text-decoration:none;
}
.blog-dates a{
    text-decoration:none;
}
.blog-random {
    text-align:center;
    margin:0;
    padding:0;
}
.blog-random a{

    font-size:15px;
    text-decoration:none;
}
#tagset {
    padding-left:19px;
}
.media-body {
    padding-top:14px;
}
.media-body a {
    text-decoration:none;
}
.blog_title {
    margin:10px 0px 30px;
}
.blog-info-desc a {
    text-decoration:none;
}
.blog-info-desc .btn-default {
    background-color: rgba(141, 143, 160, 0);
}
.jumbotron {
    background-color: rgba(141, 143, 160, 0.19);
}

#comment-list .jumbotron {background-color: rgba(141, 143, 160, 0.19);
    padding: 25px 25px 80px 25px;
    margin:30px 0px;
}
#comment-text p{
    font-size:18px;
    margin:40px 40px 0px 40px;
    word-break:break-all;
    word-wrap:break-word
}
.me {
    padding-bottom:10px;
    animation:change 10s linear 0s infinite;
    font-size:20px;font-weight:bold;
}
@keyframes change {
    0%{color:#333;}25%{color:#ff0;}50%{color:#f60;}75%{color:#cf0;}100% {color:#f00;}
}
.my_comment {
    background-image:
        -webkit-gradient( linear, left top, right top, color-stop(0, #f22),
        color-stop(0.15, #f2f),
        color-stop(0.3, #22f),
        color-stop(0.45, red),
        color-stop(0.6, #2f2),
        color-stop(0.75, #f2f),
        color-stop(0.9, #ff2),
        color-stop(1, #f22) );
    color: transparent;
    -webkit-background-clip: text;
}
.my_avatar {
    float:left;
    width:12%;
    height:auto;
    margin-right:2em;
}
.comment-root > div {
    padding-left:0px;
}
.avatar {
    float: left;
    height:auto;
    width: 13%;
    margin-right:2em;
}
.other {
    font-size:20px;
    padding-bottom:10px;
}
.reply_form {
    margin:10px;
    padding:10px;
}
.reply-text {
    width:100%;
    height:100px;
}
.reply_button {
    float:right;
}
a.reply_btn {
    margin:20px;
    text-decoration:none;
    float:right;
}
#music-parent {
    margin-left: 56px;
    padding:0px;
}
#music-parent .panel {
    margin-bottom:30px;
    padding:0px;
}
#music-parent .fa {
    padding: 0px;
    font-size: 15px;
    text-decoration: none;
}
marquee img {
    width:80px;
    height:60px;
    padding:5px 10px 0 0;
}
.fa-object-ungroup {
    font-size: 20px;
    text-decoration: none;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #e7dcd466;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff0;
}
.media img {
     opacity:.95;
     -webkit-transition:opacity .35s,-webkit-transform .35s;
     transition:opacity .35s,transform .35s;
     -webkit-transform:scale3d(1.05,1.05,1);
     transform:scale3d(1.05,1.05,1)
}
.media:hover img {
     opacity:1;
     -webkit-transform:scale3d(1,1,1);
     transform:scale3d(1,1,1)
}
.media figcaption::before {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:rgba(255,255,255,0.7);
 content:'';
 -webkit-transition:-webkit-transform .6s;
 transition:transform .6s;
 -webkit-transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
 transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)
}

.media:hover figcaption::before {
 -webkit-transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
 transform:scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0)
}
.media2{
    display:none;
    text-align:center;
    color:rgba(255, 0, 0, 0.5);
