ul.blog-types, .blog-dates {
    list-style-type: none;
}
div.paginator {
    text-align: center;
}

div.blog-content {
    line-height:180%;
    font-size: 17px;
    text-indent: 2em;
    margin:10px 10px 20px 20px;
}
div.blog-content img {
    display: block;
    height: auto;
    max-width: 90%;
}
div.blog-more {
    margin-top: 1em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.media {
    padding:13px;
    border: 1px solid #ccc;
}
.media .row {
    margin-bottom: 16px;
}
#content {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.media-heading {
    padding-top: 10px;
    padding-right: 10px;
    text-align:center;
}
.img-rounded {
    margin: 18px 0px 0px 10px;
}
div.panel {
    margin-top:0px;
}
.blog-types, .blog-dates {
    font-size:18px;
}
.blog-types a{
    text-decoration:none;
}
.blog-dates a{
    text-decoration:none;
}
#tagset {
    padding-left:19px;
}
.media-body {
    padding-top:14px;
}
.media-body a {
    text-decoration:none;
}
.blog_title {
    margin:10px 0px 30px;
}
.blog-info-desc a {
    text-decoration:none;
}
#comment-list .jumbotron {
    padding: 25px 25px 80px 25px;
    margin:30px 0px;
}
#comment-text p{
    font-size:18px;
    margin:40px 40px 0px 40px;
    word-break:break-all;
    word-wrap:break-word
}
.me {
    padding-bottom:10px;
    animation:change 10s linear 0s infinite;font-size:20px;font-weight:bold;
}
@keyframes change {
    0%   {color:#333;}25%{color:#ff0;}50%{color:#f60;}75%{color:#cf0;}100% {color:#f00;}
}
.my_comment {
    background-image:
        -webkit-gradient( linear, left top, right top, color-stop(0, #f22),
        color-stop(0.15, #f2f),
        color-stop(0.3, #22f),
        color-stop(0.45, red),
        color-stop(0.6, #2f2),
        color-stop(0.75, #f2f),
        color-stop(0.9, #ff2),
        color-stop(1, #f22) );
    color: transparent;
    -webkit-background-clip: text;
}
.my_avatar {
    float:left;
    width:12%;
    height:auto;
    margin-right:2em;
}
.comment-root > div {
    padding-left:0px;
}
.avatar {
    float: left;
    height:auto;
    width: 13%;
    margin-right:2em;
}
.other {
    font-size:20px;
    padding-bottom:10px;
}
.reply_form {
    margin:10px;
    padding:10px;
}
.reply-text {
    width:100%;
    height:100px;
}
.reply_button {
    float:right;
}
a.reply_btn {
    margin:20px;
    text-decoration:none;
    float:right;
}
