body {
    background: #F5F7FA repeat center top;
}
#body_bg{
    background: url(/static/image/sao_bg.gif);
}
div.jumbotron {
    margin-bottom:0;
    background-color:rgba(255, 255, 255, 0);
}
.jumbotron h1 {
    text-shadow:1px 1px 1px;
    opacity:0.8;
}
.jumbotron span {
    text-shadow:1px 1px 20px;
}
.well {
    margin:0;
}
div#container {
    min-width: 15em;
    max-width: 50em;
    height: 25em;
}
#chart_set{
    opacity:0;
    -ms-transition:all 1s;
    -webkit-transition:all 1s;
    transition:all 1s;
}
.active .frame_bg{
    padding:0 50px;
}
.active .frame_bg span{
    -webkit-animation: hudFlash 0.1s cubic-bezier(.47, 0, .745, .715) forwards normal;
    animation: hudFlash 0.1s cubic-bezier(.47, 0, .745, .715) forwards normal;
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
}
@keyframes hudFlash{
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
    50% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        opacity: 0;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
}
.same {
    display: table;
    position: relative;
    z-index: 1;
    margin: 46px auto;
    padding: 18.5px 0;
    color: #003085;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: .2em;
}
.frame_bg {
    position: relative;
    padding: 0;
    -webkit-transition: all .5s cubic-bezier(.86, 0, .07, 1);
    transition: all .5s cubic-bezier(.86, 0, .07, 1);
}
.frame_bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    background: url(/static/image/sao_repeat.gif) center center;
    background-size: contain;
}
.same::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 19px;
    height: 70px;
    background: url(/static/image/sao_left.png) top left no-repeat;
    background-size: contain;
}
.same::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 19px;
    height: 70px;
    background: url(/static/image/sao_right.png) top left no-repeat;
    background-size: contain;
}
.frame_bg span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: relative;
}
h1.main_cover {
    text-align: center;
    padding: 10px 0 40px;
    color: #fff;
}
#bkg {
    padding:0;
}
#bg1 {
    position: relative;
    display: table;
    width: 100%;
    margin-top:40px;
    background: url(/static/image/hiuga.jpg) no-repeat 0 0 fixed;
    background-size: 100% auto;
}
.landing-text {
    position:relative;
    top:0;
    left:0;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}
#hyouka_text{
    position:relative;
    top:0;
    left:0;
    margin:0 auto;
    width:300px;
    height:240px;
    z-index:2;
}
.hyouka_lists{
    position:absolute;
    top: -200px;
    left: -453px;
}
.hyouka_lists img{
    max-width: 100px;
}
.hyouka_blur {
    filter:blur(2px);
    -webkit-filter:blur(2px);
}
#topCatch {
	position: absolute;
	top: -160px;
    left: 320px;
}
.hyouka_list{
    position:relative;
    opacity:0;
    -ms-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.hyouka_change{
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
}
.hyouka_list:hover{
    -ms-transform:scale(1.8);
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
}
#hyouka_arrow{
    position:absolute;
    top: 92px;
    left: 206px;
    color:white;
    font-size:20px;
    cursor:pointer;
    opacity:0.4;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
#hyouka_arrow:hover{
    opacity:1;
    text-shadow:0px 0px 20px rgb(180, 180, 253);
}
#topCatch p {
    width: 0px;
    height: 30px;
    margin-bottom: 10px;
}
#topCatch-01 { background: url(/static/image/hyoukatext.png) 0 0;}
#topCatch-02 { background: url(/static/image/hyoukatext.png) 0 -30px; }
#topCatch-03 { background: url(/static/image/hyoukatext.png) 0 -60px; }
#topOnair {
	position: absolute;
	left: 320px;
    top: -30px;
}
#topOnair p {
    width: 0px;
    height: 45px;
    margin-bottom: 10px;
}
#topOnair-01 {
	width: 280px;
	background: url(/static/image/hyoukatext.png) 0 -90px;
}
#snow_player{
    position:absolute;
    top: 40px;
    left: 208px;
    color:white;
    font-size:20px;
    opacity:0.4;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
#snow_player:hover{
    opacity:1;
    text-shadow:0px 0px 20px rgb(180, 180, 253);
}
div.tab-content {
    text-align:center;
}
div.tab-content li{
    list-style-type:none;
    font-size:18px;
    padding: 5% 0px 0px;
}
.thumbnail {
    padding:0;
    background-color:rgba(255,255,255,0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow:hidden;
}
.thumbnail img {
    display:block;
    position:relative;
    -ms-transition:all 0.4s linear;
    -webkit-transition:all 0.4s linear;
    transition:all 0.4s linear;
}
.thumbnail_over {
    background-color:white;
    box-shadow: 0 5px 12px rgba(0,0,0,0.5);
    transition: all 1s ease 0s;
}
.thumbnail_out {
   box-shadow: 0;
   transition: all 1s ease 0s;
}
.thumbnail:hover img {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.aitem img {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    display: block;
    width: 100%;
}
.bordered {
    padding: 20px;
    background: #F5F7FA;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
}
.bordered .info h4 {
    font-size: 20px;
    font-weight:600;
    margin-bottom: 15px;
    text-align: center;
}
.bordered a {
    text-decoration:none;
}
.change_image{
    width:360px;
    height:360px;
}
#bgz-1{
    max-width:100%;
}
#bgz-2{
    display: none;
    max-width:100%;
}
.line{
    display:table-cell;
    vertical-align: middle;
}
.line_center{
    display:table-cell;
}
#change_img {
    position: absolute;
    left: 40%;
    top: 130px;
    font-size:24px;
    letter-spacing: 5px;
    border:1px solid black;
    background-color: rgba(89, 55, 55, 0.64);
    cursor: pointer;
}
#change_img div{
    margin:10px 20px 10px 25px;
}
.foo::after {
    border-top: 1px solid #50d101;
    border-right: 1px solid yellow;
    -webkit-transform-origin: 100% 0%;
}
.box::before, .box::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
    box-shadow: none;
}
.box:hover {
    border:0!important;
    color:#FFF;
}
.foo::before {
    border-bottom: 1px solid red;
    border-left: 1px solid blue;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.box:hover::after, .box:hover::before {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
}
.main_bg{
    position: relative;
    display: table;
    width: 100%;

}
#main_bg1{
    background: url(/static/image/morning.jpg) no-repeat center center fixed;
    background-size: 100% auto;
}
#main_bg2{
    background: url(/static/image/noon.jpeg) no-repeat center center fixed;
    background-size: 100% auto;
}
#main_bg3{
    background: url(/static/image/night.jpg) no-repeat center center fixed;
    background-size: 100% auto;
}
.learn_hover img{
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    transition: 1s ease;
}
.learn_hover:hover img {
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    transform: rotatey(360deg);
}
#tran_area,#show_tran {
    background-color: rgba(238, 238, 238, 0.31)!important;
    font-size:20px;
    overflow:hidden;
    resize:none;
}
.dropdown-menu{
    min-width:124px;
    max-width:300px;
    padding: 6px 0 12px;
}
.dropdown-menu > li {
    float: left;
}
.dropdown-menu > li > a {
    padding: 8px 18px;
}
#dropdownMenu1 {
    width: 180px;
    text-align:left;
}
.fa-caret-down{
    position:absolute;
    left:160px;
    top:10px;
}