body {
    background: url(/static/image/map.png) repeat left top;
}
div.jumbotron {
    margin-bottom:0;
}
.jumbotron h1 {
    text-shadow:1px 1px 1px;
    opacity:0.8;
}
.jumbotron span {
    text-shadow:1px 1px 20px;
}
.well {
    margin:0;
}
div#container {
    min-width: 15em;
    max-width: 50em;
    height: 25em;
}
h1.same {
    text-align: center;
    margin: 0px 0px 60px;
    padding: 40px 0px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-shadow:2px 2px 33px blue;
}
#bkg {
    padding:0;
}
#bg1 {
    position: relative;
    display: table;
    height: 50em;
    width: 100%;
    margin-top:40px;
    background: url(http://photocdn.tv.sohu.com/img/20161230/vrs_bg_hor_1483080030614_1008593.jpg) no-repeat fixed;
    background-size: 100% auto;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    font-size:45px;
    font-weight:bold;
    color: rgba(255, 255, 255, 0.29);
    text-shadow: 1px 1px 1px black;
}
.s1 {color:teal;}
.s2 {color:blue;}
.s3 {color:fuchsia;}
.s4 {color:#FFA07A;}
.s6 {color:green;}
.s7 {color:lime;}
.s8 {color:orange;}
.s9 {color:yellow;}
.s10 {color:purple;}
.s11 {color:silver,;}
.s12 {color:red;}
div.tab-content {
    text-align:center;
}
div.tab-content li{
    list-style-type:none;
    font-size:18px;
    padding: 5% 0px 0px;
}
.thumbnail {
   margin:0;
}
.aitem img {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    display: block;
    width: 100%;
}
.bordered {
    padding: 20px;
    background: #F5F7FA;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
}
.bordered .info h4 {
    font-size: 20px;
    font-weight:600;
    margin-bottom: 15px;
    text-align: center;
}
.bordered a {
    text-decoration:none;
}
#bgz-1{
    position: absolute;
    z-index:1
}
#bgz-2{
    position: absolute;
    display: none;
    z-index:2
}
#change_img {
    position: absolute;
    left:40%;
    top:136px;
    font-size:24px;
    letter-spacing: 5px;
    border:1px solid black;
    background-color: rgba(89, 55, 55, 0.64);
    cursor: pointer;
}
#change_img div{
    margin:10px 20px 10px 25px;
}
.foo::after {
    border-top: 1px solid rgb(107, 152, 101);
    border-right: 1px solid rgb(75, 224, 87);
    -webkit-transform-origin: 100% 0%;
}
.box::before, .box::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
    box-shadow: none;
}
.box:hover {
    border:0!important;
    color:#FFF;
}
.foo::before {
    border-bottom: 1px solid red;
    border-left: 1px solid blue;
    -webkit-transform-origin: 0 100%;
}
.box:hover::after, .box:hover::before {
    -webkit-transform: scale(2);
}
#about_me {
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    letter-spacing: 0.2em;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    color: rgb(143, 141, 141);
}
#about_me div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.342);
    position: absolute;
    animation: bian 0.5s linear both 1;
}
@keyframes bian {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(8)
    }
}