body {
    background: url(/static/image/map.png) repeat center top;
}
div.jumbotron {
    margin-bottom:0;
}
.jumbotron h1 {
    text-shadow:1px 1px 1px;
    opacity:0.8;
}
.jumbotron span {
    text-shadow:1px 1px 20px;
}
.well {
    margin:0;
}
div#container {
    min-width: 15em;
    max-width: 50em;
    height: 25em;
}
h1.same {
    text-align: center;
    margin: 20px 0px 60px;
    padding: 40px 0px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-shadow:2px 2px 33px blue;
}
#bg1 {
    display: table;
    height: 50em;
    width: 100%;
    position: relative;
    background-size: cover;
    margin-top:40px;
}
#bg2 {
    background: url(/static/image/sora.jpg) no-repeat center center fixed;
    display: table;
    height: 50em;
    width: 100%;
    position: relative;
    background-size: cover;
    margin-top:40px;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}
.s1 {color:teal;}
.s2 {color:blue;}
.s3 {color:fuchsia;}
.s4 {color:#FFA07A;}
.s6 {color:green;}
.s7 {color:lime;}
.s8 {color:orange;}
.s9 {color:yellow;}
.s10 {color:purple;}
.s11 {color:silver,;}
.s12 {color:red;}
div.tab-content {
    text-align:center;
}
div.tab-content li{
    list-style-type:none;
    font-size:18px;
    padding: 5% 0px 0px;
}
.aitem {
    width: 310px;
    padding:0;
    margin-left:7%;
    margin-bottom:4%;
}
.aitem img {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    display: block;
    width: 100%;
}
.bordered {
    padding: 20px;
    background: #F5F7FA;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
}
.bordered .info h4 {
    font-size: 20px;
    font-weight:600;
    margin-bottom: 15px;
    text-align: center;
}
.bordered a {
    text-decoration:none;
}
#learn {
    border-bottom: 0px;
}
