body {
    background: url(/static/image/map.png) repeat center top;
}
div.jumbotron {
    margin-bottom:0;
}
.jumbotron h1 {
    text-shadow:1px 1px 1px;
    opacity:0.8;
}
.jumbotron span {
    text-shadow:1px 1px 20px;
}
.well {
    margin:0;
}
div#container {
    min-width: 15em;
    max-width: 50em;
    height: 25em;
}
h1.same {
    text-align: center;
    margin: 20px 0px 60px;
    padding: 40px 0px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-shadow:2px 2px 33px blue;
}
#bg1 {
    position: relative;
    display: table;
    height: 50em;
    width: 100%;
    background-size: cover;
    margin-top:40px;
}
#bg2 {
    position: relative;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540589575459&di=c5d610a3f751d90600cd5a093e29c74a&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-11-11%2F5a06b297467a6.jpg) no-repeat center center fixed;
    display: table;
    height: 50em;
    width: 100%;
    background-size: cover;
    margin-top:40px;
}
.landing-text {
    display: table-cell;
    text-align: center;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}
.s1 {color:teal;}
.s2 {color:blue;}
.s3 {color:fuchsia;}
.s4 {color:#FFA07A;}
.s6 {color:green;}
.s7 {color:lime;}
.s8 {color:orange;}
.s9 {color:yellow;}
.s10 {color:purple;}
.s11 {color:silver,;}
.s12 {color:red;}
div.tab-content {
    text-align:center;
}
div.tab-content li{
    list-style-type:none;
    font-size:18px;
    padding: 5% 0px 0px;
}
.aitem {
    width: 310px;
    padding:0;
    margin-left:7%;
    margin-bottom:4%;
}
.aitem img {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    display: block;
    width: 100%;
}
.bordered {
    padding: 20px;
    background: #F5F7FA;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
}
.bordered .info h4 {
    font-size: 20px;
    font-weight:600;
    margin-bottom: 15px;
    text-align: center;
}
.bordered a {
    text-decoration:none;
}
#learn {
    border-bottom: 0px;
}
#change_img {
    position: absolute;
    left:595px;
    top:331px;
    font-size:24px;
    letter-spacing: 5px;
    border:1px solid #FFF;
    background-color: rgba(89, 55, 55, 0.64);
    cursor: pointer;
}
#change_img div{
    margin:10px 20px 10px 25px;
}
.foo::after {
    border-top: 1px solid #71d775;
    border-right: 1px solid yellow;
    -webkit-transform-origin: 100% 0%;
}
.box::before, .box::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
    box-shadow: none;
}
.box:hover {
    border:0!important;
    color:#FFF;
}
.foo::before {
    border-bottom: 1px solid white;
    border-left: 1px solid rgb(30, 171, 218);
    -webkit-transform-origin: 0 100%;
}
.box:hover::after, .box:hover::before {
    -webkit-transform: scale(2);
}
