{% extends 'base.html' %}
{% block title %}博客{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <marquee behavior="scroll" direction="right"><span>公告: 本网站租用国外服务器加载较慢，目前正在优化中，敬请谅解!&ensp;</span><img src="/static/image/next.png"></marquee>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ol class="breadcrumb" style="margin:0;">
                          <li><a href="/">首页</a></li>
                          <li><a href="/blog/">博客</a></li>
                          <li class="active">{% block blog_list_title %}全部{% endblock %}</li>
                        </ol>
                    </div>
                    <div class="panel-body">
                        {% for blog in page_of_blogs.object_list %}
                            <div class="media">
                              <div class="row">
                                <div class="col-md-3">
                              <div class="media-left media-middle">
                                <a href="{% url 'blog_detail' blog.pk %}">
                                  <img class="img-rounded" src="/media/{{ blog.thumbnail }}" height="150" width="150">
                                </a>
                              </div>
                                </div>
                                <div class="col-md-9">
                              <div class="media-body">
                                    <h3 class="media-heading"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                    <div id="content">{{ blog.content|truncatechars:100|safe }}</div>
                                    <a id="tagset" href="#">
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-grain"></span> 作者: {{ blog.author }}
                                    </button>
                                    </a>
                                    <a href="{% url 'blogs_by_type' blog.blog_type.pk %}">
                                        <button type="button" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-star-empty"></span> {{ blog.blog_type }}
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-default btn-xs" title="make more time">
                                        <span class="glyphicon glyphicon-time"></span> {{ blog.created_time|date:"Y-m-d H:i:s" }}
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-eye-open"></span> 阅读: {{ blog.get_read_num }}
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-comment"></span> 评论: {% comments_count blog %}
                                    </button>
                              </div>
                                 </div>
                              </div>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <p>-- 暂无博客, 敬请期待 --</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="paginator">
                  <!--分页部分-->
                  <ul class="pagination pagination-md">
                    <li>
                       <!--上一页-->
                        {% if page_of_blogs.has_previous %}
                            <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>
                    <!--页码-->
                    {% for page_num in page_range %}
                        {% if page_num == page_of_blogs.number %}
                            <li class="active"><span>{{ page_num }}</span></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <!--下一页-->
                        {% if page_of_blogs.has_next %}
                            <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                  </ul>
                  <p>
                    共有{{ page_of_blogs.paginator.count }}篇博客,&nbsp;&nbsp;
                    当前第{{ page_of_blogs.number }}页,&nbsp;&nbsp;
                    共{{ page_of_blogs.paginator.num_pages }}页^_^
                  </p>
                </div>
            </div>
            <div id="music-parent" class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_by_type' blog_type.pk %}">
                                        {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无此分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul class="blog-dates">
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_by_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

