{% extends 'base.html' %}
{% block title %}博客{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
            {% block blog_list %}{% endblock %}
            </div>
            <div id="music-parent" class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-object-ungroup"></span> &nbsp;博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_by_type' blog_type.pk %}">
                                        {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无此分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-calendar"></span> &nbsp;日期归档</div>
                    <div class="panel-body">
                        <ul class="blog-dates">
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_by_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无此分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="fa fa-random"></span> &nbsp;随机推荐</div>
                    <div class="panel-body">
                        <ul class="blog-random">
                            {% for blog in blogs_random %}
                                <li>
                                    <a href="{% url 'blog_detail' blog.pk %}">
                                        {{ blog.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>暂无此分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        var html = '<li><a id="l_switch" class="pad"><i class="fa fa-lightbulb-o"></i> <span id="switchs"></span></a></li>'
        $("#light_append").append(html);
        var frame = $(parent.frames["hidden-player"].document)
        // 开关灯
        var switch_str = frame.find(".next_music").text();
        // 关
        if(switch_str=="0"){
            $("#body_switch").attr("class","body_night2");
            $("#switchs").text(" 开灯");
        // 开
        }else{
            $("#body_switch").attr("class","body_light2");
            $("#switchs").text(" 关灯");
        }
        $("#l_switch").click(function(){
            var switch_str = frame.find(".next_music").text();
            // 关
            if(switch_str=="1"){
                $("#body_switch").attr("class","body_night");
                frame.find(".next_music").text('0');
                $("#switchs").text(" 开灯");
            // 开
            }else{
                $("#body_switch").attr("class","body_light");
                frame.find(".next_music").text('1');
                $("#switchs").text(" 关灯");
            }
        });
    </script>
{% endblock %}