{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    喵？页面不存在
{% endblock %}

{% block content %}
    <div class="bg">
        <div class="back"><a href="/">返回首页</a> </div>
    </div>
    <img class="error_404" src="/static/image/404.png">
    <style type="text/css">
        .bg {
            background: url(/static/image/jojo.jpg) no-repeat center center;
            display: table;
            height: 50em;
            width: 100%;
            position: relative;
            background-size: cover;
        }
        .back {
            text-align:right;
            margin: 50px 80px;
            font-size: 250%;
            font-weight:900;
        }
        .back a {
            color: #394265;
            text-decoration:none;
        }
        .back a:hover {
            color: #A68039;
        }
        .error_404{
            width: 20%;
            position: absolute;
            bottom: 184px;
            right: 48px;
        }

        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $(function(){
            $("#navbar-base").remove();
            function ll8 (){
                $("#music-bar").attr('data-original-title','残念，你访问了一个不存在的页面，快点返回首页，不然主人知道了又该骂我啦！');
                $("#music-bar").stop().animate({marginLeft:"14px",marginBottom:"14px"},300);
                $("#music-bar").tooltip('show');
            }
            setTimeout(ll8,5000);
        });
    </script>
{% endblock %}