{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    喵？服务器忙
{% endblock %}

{% block content %}
    <div class="bg">
        <div class="back"><a href="/">500错误</a> </div>
    </div>
    <style type="text/css">
        .bg {
            background: url(/static/image/jojo.jpg) no-repeat center center;
            display: table;
            height: 50em;
            width: 100%;
            position: relative;
            background-size: cover;
        }
        .back {
            text-align:right;
            margin: 50px 80px;
            font-size: 250%;
            font-weight:900;
        }
        .back a {
            color: #394265;
            text-decoration:none;
        }
        .back a:hover {
            color: #A68039;
        }
        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $(function(){
            $("#navbar-base").remove();
        });
    </script>
{% endblock %}