{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - 胡捷个人网站</title>
    <link rel="Shortcut Icon" href="/static/image/H.ico">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <meta name="keywords" content="胡捷，个人博客，个人网站">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="/static/js/base.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?4c1f8e68be72fa6ae0e0bbbda1cb56b8";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    {% block header_extends %}{% endblock %}
</head>
<body ondragstart="return false">
    <div id="body_bg">
        <div id="body_switch">
            <!--导航条占位-->
            <div id="navbar-zhan"></div>
            <!--导航条-->
            <div id="navbar-base" class="navbar navbar-default navbar-static-top" role="navigation">
                <div id="navbar-shou">
                    <div id="navbar-shou1"></div>
                    <div id="navbar-shou2"></div>
                </div>
                <div class="container-fluid">
                    <a id="site_logo_a" class="navbar-brand" href="{% url 'move' %}">
                        <img id="site_logo1" class="site_logo1">
                        <img id="site_logo2" class="site_logo2">
                        <img id="site_logo3" src="/static/image/geassred1.png">
                    </a>
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar-collapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a id="exchange" class="pad"><i class="fa fa-exchange"></i>&ensp;切换</a></li>
                            <li><a class="pad" href="{% url 'home' %}"><i class="fa fa-home"></i> 首页</a></li>
                            <li><a class="pad" href="{% url 'blog_list' %}"><i class="fa fa-pencil"></i> 博客</a></li>
                        </ul>
                        <ul id="light_append" class="nav navbar-nav navbar-right">
                            <li id="search-form">
                                <a id="search-click" class="pad"><i class="fa fa-search"></i> 搜索</a>
                                <form id="navbar-form" action="{% url 'search'%}" class="navbar-form navbar-right">
                                    <div class="form-group">
                                      <input id="search_box" name="wd" type="text" class="form-control" placeholder="输入后按回车">
                                    </div>
                                </form>
                            </li>


                            {% if not user.is_authenticated %}
                                <li>
                                    <a class="pad" href="{% url 'login' %}?form={{ request.get_full_path }}"><i class="fa fa-sign-in"></i> 登录</a>
                                </li>
                                <li>
                                    <a class="pad" href="{% url 'register' %}?form={{ request.get_full_path }}"><i class="fa fa-id-card"></i> 注册</a>
                                </li>
                            {% else %}
                                <li class="dropdown">
                                    <a href="#" class="pad dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-circle"></i>
                                        <span>{{ user.first_name }}</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" >个人资料</a></li>
                                        <li><a href="#">邮箱</a></li>
                                        <li><a href="#">此板块尚未开发</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'logout' %}?form={{ request.get_full_path }}">退出</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <script type="text/javascript">
                            var frame = $(parent.frames["hidden-player"].document)
                            //logo切换
                            var logo_num = frame.find(".logo_num").text();
                            var logo_str1 = "/static/image/geass"+ logo_num +"1.png"
                            var logo_str2 = "/static/image/geass"+ logo_num +"2.png"
                            $("#site_logo1").attr("src",logo_str2);
                            $("#site_logo2").attr("src",logo_str1);
                        </script>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
            <div id="footer_fluid"><div id="footer_sky"></div></div>

            <footer class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>相关信息</h3>
                        <h5>QQ：736209298</h5>
                        <h5>使用python的Django框架搭建</h5>
                        <h5>2018年9月开始建站，源码已推送至github</h5>
                    </div>
                    <div class="col-sm-4">
                        <h3>Contects</h3>
                        <a href="https://weibo.com/u/1973013037/" class="fa fa-weibo" title="我的微博"></a>
                        <a href="https://github.com/wryhu" target=_blank class="fa fa-github" title="我的github"></a>
                        <div class="fa fa-chrome"></div>
                        <a href="https://www.instagram.com/jet1240/" class="fa fa-instagram" title="我的ins"></a>
                        <a href="https://twitter.com/jet42331460" class="fa fa-twitter" title="我的twitter"></a>
                    </div>
                    <div id="friend_link" class="col-sm-4">
                        <h3 style="margin-bottom:0;">友情链接</h3>
                        <br>
                        <a href="/jojo"><img src="/static/image/tobecontinued.png" style="width:200px; height:44px;" title="人类赞歌"></a>
                    </div>
                </div>
            </footer>
            <!--jet-->
            <img id="totop" class="totop" src="/static/image/jet.png" title="发射!">
            <!--音乐播放器-->
            <div id="music">
                <div id="skPlayer" class="skPlayer1"></div>
                <div id="skPlayer" class="skPlayer2"></div>
                <div id="music-foot">
                    <div id="music-text">全站不间断播放</div>
                    <div id="music-ctrl">
                        <div class="fa fa-backward"></div>
                            <span>&ensp;QQ:736209298&ensp;</span>
                        <div class="fa fa-forward"></div>
                    </div>
                    <div id="music-text">有好听的歌可以推荐给我</div>
                </div>
            </div>
            <div id="music-bar-tip">
                <img id="music-bar" data-toggle="tooltip" data-placement="top" src="/static/image/lovelive.png">
            </div>
        </div>
    </div>
    {% block script_extends %}{% endblock %}
    <script src="/static/skPlayer/skPlayer.min.js"></script>
</body>
</html>
