{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>胡捷个人网站|{% block title %}{% endblock %}</title>
    <link rel = "Shortcut Icon" href=/static/image/H.ico>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
    <meta name="keywords" content="个人博客，胡捷，个人网站">
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body oncontextmenu="return true" ondragstart="return false">
    <!--导航条-->
    <div id ="navbar-base" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/image/geass.png" style="width:80px;height:38px;"></a>
            <div class="navbar-header">
                <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a id="pad" class="fa fa-home" href="{% url 'home' %}"> <span>首页</span></a></li>
                    <li><a id="pad" class="fa fa-pencil" href="{% url 'blog_list' %}"> <span>博客</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if not user.is_authenticated %}
                        <li>
                            <a id="pad" class="fa fa-sign-in" href="{% url 'login' %}?form={{ request.get_full_path }}"> <span>登陆</span></a>
                        </li>
                        <li>
                            <a id="pad" class="fa fa-id-card" href="{% url 'register' %}?form={{ request.get_full_path }}"> <span>注册</span></a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a id="pad" href="#" class="fa fa-user-circle dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span>{{ user.username }}</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" >个人资料</a></li>
                                <li><a href="#">邮箱</a></li>
                                <li><a href="#">反正没人注册是吧</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}?form={{ request.get_full_path }}">退出</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>相关信息</h3>
                <h5>QQ：736209298</h5>
                <h5>个人博客网站，分享生活点滴</h5>
                <h5>于2018年9月开始建站，源码已推送至github</h5>
            </div>
            <div class="col-sm-4">
                <h3>Contects</h3>
                <a href="https://weibo.com/u/1973013037/" class="fa fa-weibo"></a>
                <a href="https://github.com/wryhu" class="fa fa-github"></a>
                <div class="fa fa-chrome fa-spin"></div>
                <a href="https://www.google.com.hk/" class="fa fa-google"></a>
                <a href="http://www.twitter.com/" class="fa fa-twitter"></a>
            </div>
            <div class="col-sm-4">
                <h3 style="margin-bottom:0;">友情链接</h3>
                <br>
                <a href="http://jojo-animation.com/sc/"><img src="/static/image/tobecontinued.png" style="width:200px; height:44px;" title="人类赞歌"></a>
            </div>
        </div>
    </footer>
    <!--jet-->
    <a href="javascript:;"><img id="totop" src="/static/image/jet.png" alt=""></a>
    <!--音乐播放器-->
    <div id="music">
        <div id="skPlayer" class="skPlayer1"></div>
        <div id="skPlayer" class="skPlayer2"></div>
        <div id="music-ctrl">
            <div class="fa fa-backward"></div>
                <span>好听的日语歌推荐给你</span>
            <div class="fa fa-forward"></div>
        </div>
        <div id="music-text">暂不支持快进和音量调节</div>
    </div>
    <a id="music-bar" class="fa fa-music"></a>
    {% block script_extends %}{% endblock %}
    <script src="/static/skPlayer/skPlayer.min.js"></script>
    <script type="text/javascript">
        $(function(){
            // 小火箭
            $(window).scroll(function(){
                var nowTop = $(document).scrollTop();
                if(nowTop>500){
                    $('#totop').fadeIn();
                }
                else{
                    $('#totop').fadeOut();
                }
            });
            $('#totop').click(function(){
                var html_height = $(window).height()
                $('html,body').animate({'scrollTop':0},800);
                $(this).animate({marginBottom:html_height},800,function(){
                    $(this).fadeOut(function(){
                        $(this).css("marginBottom",0);
                    });
                });
            });
            // 小播放器
            var i=0;
            var frame = $(parent.frames["hidden-player"].document)
            $("#music-bar").click(function(){
                if(i%2==0){
                    // 点了就先加载好再滑出
                    // 选中播放器框架

                    // 从框架提取播放器html到网站页面，并加入定时器
                    function real_time_music1(){
                        var music_html = frame.find("#skPlayer").html();
                        $(".skPlayer1").html(music_html);
                        $(".skPlayer1 .skPlayer-play-btn").remove();
                    }
                    real_time_music1();
                    // 二次提取设置透明合并到上面（其中播放按钮不透明，上层播放按钮直接删除）
                    function real_time_music2(){
                        var music_html = frame.find("#skPlayer").html();
                        $(".skPlayer2").html(music_html);
                        $(".skPlayer2 .skPlayer-control").css({top:"-100px","z-index":5,opacity:0});
                        $(".skPlayer2 .skPlayer-cover").remove();
                        $(".skPlayer-play-btn").css({outline:"none"});
                        $(".skPlayer-picture").css({"z-index":0});
                    }
                    real_time_music2();
                    //样式设置完成启动全局定时器，此时播放器部分加载完成
                    window.time1=setInterval(real_time_music1,1000);
                    // 进行滑出动画
                    $('#music').stop().animate({marginLeft:"388px"},800);
                    i++;
                }else{
                    // 收回播放器就停止定时器来停止加载播放器页面
                    $('#music').stop().animate({marginLeft:"0px"},800);
                    clearInterval(time1);
                    i++;
                }
            });
            // 接下来设置每个按钮的传递
            // 播放暂停，并使主页上的播放按钮显示正确状态
            $(document).on('click', ".skPlayer-play-btn", function(){
                if($(this).attr("class")=="skPlayer-play-btn skPlayer-pause"){
                    frame.find(".skPlayer-right").click();
                    $(this).attr("class","skPlayer-play-btn");
                    $(".fa-chrome").attr("class","fa fa-chrome");
                }else{
                    frame.find(".skPlayer-left").click();
                    $(this).attr("class","skPlayer-play-btn skPlayer-pause");
                    $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
                }
            });
            // 音量开关
            $(document).on('click', ".skPlayer-icon", function(){
                frame.find(".skPlayer-icon").click();
            });
            // 切换单曲循环
            $(document).on('click', ".skPlayer-mode", function(){
                frame.find(".skPlayer-mode").click();
            });
            // 列表显示与否
            var x = 0
            $(document).on('click', ".skPlayer-list-switch", function(){
                if(x%2==0){
                    $(".skPlayer2").attr("class","skPlayer2 skPlayer-list-on");
                    x++;
                }else{
                    $(".skPlayer2").attr("class","skPlayer2");
                    x++;
                }
            });
            // 点击列表內歌曲播放
            $(document).on('click', ".skPlayer-list li", function(){
                var num1 = $(this).attr("data-index");
                var text = ".skPlayer-list li[data-index="+num1+"]";
                frame.find(text).click();
                $(".skPlayer-list li").removeAttr("class");
                $(this).attr("class","skPlayer-curMusic");
            });
            // 上一首,并且为播放状态
            $(document).on('click', ".fa-backward", function(){
                frame.find(".prev_music").click();
                $(".skPlayer-play-btn").attr("class","skPlayer-play-btn skPlayer-pause");
                var num2 = frame.find(".skPlayer-curMusic").attr("data-index");
                var text2 = ".skPlayer-list li[data-index="+num2+"]";
                $(".skPlayer-list li").removeAttr("class");
                $(text2).attr("class","skPlayer-curMusic");
                $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
            });
            // 下一首,并且为播放状态
            $(document).on('click', ".fa-forward", function(){
                frame.find(".next_music").click();
                $(".skPlayer-play-btn").attr("class","skPlayer-play-btn skPlayer-pause");
                var num2 = frame.find(".skPlayer-curMusic").attr("data-index");
                var text2 = ".skPlayer-list li[data-index="+num2+"]";
                $(".skPlayer-list li").removeAttr("class");
                $(text2).attr("class","skPlayer-curMusic");
                $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
            });
            var frame_play_btn = frame.find(".skPlayer-play-btn")
            function chrome_spin(){
                if(frame_play_btn.attr("class")=="skPlayer-play-btn skPlayer-pause"){
                    $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
                }else{
                    $(".fa-chrome").attr("class","fa fa-chrome");
                }
            }
            chrome_spin();
        });
    </script>
</body>
</html>
