{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - 胡捷个人网站</title>
    <link rel="Shortcut Icon" href="/static/image/H.ico">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <meta name="keywords" content="胡捷，个人博客，个人网站">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    {% block header_extends %}{% endblock %}
</head>
<body>
    <!--导航条-->
    <div id ="navbar-base" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/image/geass.png" style="width:80px;height:38px;"></a>
            <div class="navbar-header">
                <button class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a id="pad" class="fa fa-home" href="{% url 'home' %}"> <span>首页</span></a></li>
                    <li><a id="pad" class="fa fa-pencil" href="{% url 'blog_list' %}"> <span>博客</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% if not user.is_authenticated %}
                        <li>
                            <a id="pad" class="fa fa-sign-in" href="{% url 'login' %}?form={{ request.get_full_path }}"> <span>登录</span></a>
                        </li>
                        <li>
                            <a id="pad" class="fa fa-id-card" href="{% url 'register' %}?form={{ request.get_full_path }}"> <span>注册</span></a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a id="pad" href="#" class="fa fa-user-circle dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span>{{ user.first_name }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" >个人资料</a></li>
                                <li><a href="#">邮箱</a></li>
                                <li><a href="#">此板块尚未开发</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}?form={{ request.get_full_path }}">退出</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <form id="navbar-form" action="{% url 'search'%}" class="navbar-form navbar-right">
                    <div class="form-group">
                      <input name="wd" type="text" class="form-control" placeholder="请输入关键字">
                    </div>
                    <button type="submit" class="btn btn-default"><span>搜索</span></button>
                </form>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>相关信息</h3>
                <h5>QQ：736209298</h5>
                <h5>个人博客网站，分享生活点滴</h5>
                <h5>于2018年9月开始建站，源码已推送至github</h5>
            </div>
            <div class="col-sm-4">
                <h3>Contects</h3>
                <a href="https://weibo.com/u/1973013037/" class="fa fa-weibo"></a>
                <a href="https://github.com/wryhu" target=_blank class="fa fa-github"></a>
                <div class="fa fa-chrome"></div>
                <a href="https://www.instagram.com/jet1240/" class="fa fa-instagram"></a>
                <a href="https://twitter.com/jet42331460" class="fa fa-twitter"></a>
            </div>
            <div class="col-sm-4">
                <h3 style="margin-bottom:0;">友情链接</h3>
                <br>
                <a href="/jojo"><img src="/static/image/tobecontinued.png" style="width:200px; height:44px;" title="人类赞歌"></a>
            </div>
        </div>
    </footer>
    <!--jet-->
    <img id="totop" class="totop" src="/static/image/jet.png" data-toggle="tooltip" data-placement="bottom">
    <!--音乐播放器-->
    <div id="music">
        <div id="skPlayer" class="skPlayer1"></div>
        <div id="skPlayer" class="skPlayer2"></div>
        <div id="music-foot">
            <div id="music-text">支持全站不间断播放</div>
            <div id="music-ctrl">
                <div class="fa fa-backward"></div>
                    <span>好听的歌儿推荐给你</span>
                <div class="fa fa-forward"></div>
            </div>
            <div id="music-text">暂不支持快进和音量调节</div>
        </div>
    </div>
    <!--<a id="music-bar" class="fa fa-music"></a>-->
    <img id="music-bar" data-toggle="tooltip" data-placement="top" data-original-title="点我打开音乐播放器" src="/static/image/lovelive.png">
    {% block script_extends %}{% endblock %}
    <style type="text/css">
        #skPlayer {
            width: 360px;
        }
        #skPlayer .skPlayer-control {
            padding: 10px 0px 17px 10px;
            float: left;
        }
        #skPlayer .skPlayer-control > .skPlayer-percent {
            width: 235px;
        }
        #skPlayer .skPlayer-control .skPlayer-volume .skPlayer-percent {
            width: 100px;
        }
        #skPlayer .skPlayer-control .skPlayer-volume {
            margin: 2px 24px 0 0;
        }
    </style>
    <script src="/static/skPlayer/skPlayer.min.js"></script>
    <script type="text/javascript">
        $(function(){
            // 小火箭
            $('#totop').tooltip();
            $(window).scroll(function(){
                var nowTop = $(document).scrollTop();
                if(nowTop>500){
                    $('#totop').fadeIn().tooltip();
                }
                else{
                    $('#totop').fadeOut();
                }
            });
            // 鼠标绑定移入事件：循环上下
            function rock1(){
                $('#totop').stop().animate({marginBottom:"0px"},300,rock2);
            }
            function rock2(){
                $('#totop').stop().animate({marginBottom:"30px"},300,rock1);
            }
            var m = 0;
            $('#totop').mouseenter(function(){
                rock2();
                if(m==-1){
                    $(this).attr('data-original-title','准备再次发射');
                    m+=1
                }else if(m==0){
                    $(this).attr('data-original-title','准备发射');
                }else if(m==1){
                    $(this).attr('data-original-title','倒数三个数');
                }else if(m==2){
                    $(this).attr('data-original-title','3');
                }else if(m==3){
                    $(this).attr('data-original-title','2');
                }else if(m==4){
                    $(this).attr('data-original-title','1');
                }else if(m==10){
                    $(this).attr('data-original-title','你倒是发啊');
                }else if(m==11){
                    $(this).attr('data-original-title','点我啊');
                }else if(m==12){
                    $(this).attr('data-original-title','服了');
                }else if(m==13){
                    $(this).attr('data-original-title','呵呵');
                }else if(m>=30){
                    $(this).attr('data-original-title','恭喜你喜提彩蛋!注册登录后联系站长获取神秘大礼包一份');
                }else{
                    $(this).attr('data-original-title','发射!');
                }
                $(this).tooltip('show');
                m++
            });
            // 鼠标绑定移出事件：停止并回到原位
            $('#totop').mouseleave(function(){
                $(this).stop().animate({marginBottom:"0px"},200);
            });
            // 点击火箭就跟着滚动条一起上升，然后取消绑定的鼠标移出事件，不然上升时又回到原位了，然后火箭隐藏，火箭复位，火箭再次绑定鼠标移出事件。
            $('#totop').click(function(){
                var html_height = $(window).height()
                $('html,body').animate({'scrollTop':0},800);
                $(this).stop().unbind('mouseleave');
                $(this).stop().animate({marginBottom:html_height},800,function(){
                    $(this).fadeOut(function(){
                        $(this).css("marginBottom",0);
                        $(this).bind('mouseleave', function(){
                            $(this).stop().animate({marginBottom:"0px"},200);
                        });
                    });
                });
                m = -1
            });
            // 小播放器
            var i=0;
            var frame = $(parent.frames["hidden-player"].document)
            // 从框架提取播放器html到网站页面，并加入定时器
            function real_time_music1(){
                var music_html = frame.find("#skPlayer").html();
                $(".skPlayer1").html(music_html);
                $(".skPlayer1 .skPlayer-play-btn").remove();
            }
            real_time_music1();
            // 二次提取设置透明合并到上面（其中播放按钮不透明，上层播放按钮直接删除）
            function real_time_music2(){
                var music_html = frame.find("#skPlayer").html();
                $(".skPlayer2").html(music_html);
                $(".skPlayer2 .skPlayer-control").css({top:"-100px","z-index":5,opacity:0});
                $(".skPlayer2 .skPlayer-cover").remove();
                $(".skPlayer-play-btn").css({outline:"none"});
            }
            real_time_music2();
            $("#music-bar").mouseover(function(){
                $(this).stop().animate({marginLeft:"14px",marginBottom:"14px"},300);
                // 第一次打开时的提示
                if(frame.find('.prev_music').attr('title')=='1'){
                    $(this).attr('data-original-title','主人制作的全站音乐播放器，点下我就可以打开，快来体验一下吧！');
                    $(this).tooltip('show');
                    return false;
                }
                // 第二次到第n次打开时的提示
                if($("#music").css("margin-left")=="0px"){
                    if($(".fa-chrome").attr("class")=="fa fa-chrome fa-spin"){
                        $(this).attr('data-original-title','正在播放中，如果你也有好听的歌可以联系主人QQ推荐添加哦。点我打开音乐播放器');
                    }else{
                        $(this).attr('data-original-title','里面都是主人精心挑选的歌哦，曲库每月都会更新一次，点我打开多听几首吧');
                    }
                }else{
                    if($(".fa-chrome").attr("class")=="fa fa-chrome fa-spin"){
                        $(this).attr('data-original-title','是不是很好听呢，不愧是主人的品味！下拉列表还有很多哦。点我收起音乐播放器');
                    }else{
                        $(this).attr('data-original-title','看见了吗？就在我头上方，那个红色的播放键，点开就能播放了哦。点我收起音乐播放器');
                    }
                }
                $(this).tooltip('show');
            });
            $("#music-bar").mouseout(function(){
                $(this).stop().animate({marginLeft:"0px",marginBottom:"0px"},300);

            });
            $("#music-bar").click(function(){
                if(i%2==0){
                    // 进行滑出动画
                    $('#music').stop().animate({marginLeft:"388px"},800);
                    window.time1 = setInterval(real_time_music1,300);
                    i++;
                }else{
                    // 收回播放器就停止定时器来停止加载播放器页面
                    $('#music').stop().animate({marginLeft:"0px"},800);
                    clearInterval(time1);
                    i++;
                }
                frame.find('.prev_music').attr('title','2');
            });
            // 接下来设置每个按钮的传递
            // 播放暂停，并使主页上的播放按钮显示正确状态
            $(document).on('click', ".skPlayer-play-btn", function(){
                if($(this).attr("class")=="skPlayer-play-btn skPlayer-pause"){
                    frame.find(".skPlayer-right").click();
                    $(this).attr("class","skPlayer-play-btn");
                    $(".fa-chrome").attr("class","fa fa-chrome");
                }else{
                    frame.find(".skPlayer-left").click();
                    $(this).attr("class","skPlayer-play-btn skPlayer-pause");
                    $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
                }
            });
            // 音量开关
            $(document).on('click', ".skPlayer-icon", function(){
                frame.find(".skPlayer-icon").click();
            });
            // 切换单曲循环
            $(document).on('click', ".skPlayer-mode", function(){
                frame.find(".skPlayer-mode").click();
            });
            // 列表显示与否
            var x = 0
            $(document).on('click', ".skPlayer-list-switch", function(){
                if(x%2==0){
                    $(".skPlayer2").attr("class","skPlayer2 skPlayer-list-on");
                    x++;
                }else{
                    $(".skPlayer2").attr("class","skPlayer2");
                    x++;
                }
            });
            // 点击列表內歌曲播放
            $(document).on('click', ".skPlayer-list li", function(){
                var num1 = $(this).attr("data-index");
                var text = ".skPlayer-list li[data-index="+num1+"]";
                frame.find(text).click();
                $(".skPlayer-list li").removeAttr("class");
                $(this).attr("class","skPlayer-curMusic");
                $(".skPlayer-play-btn").attr("class","skPlayer-play-btn skPlayer-pause");
                $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
            });
            // 上一首,并且为播放状态
            $(document).on('click', ".fa-backward", function(){
                frame.find(".prev_music").click();
                var num2 = frame.find(".skPlayer-curMusic").attr("data-index");
                var text2 = ".skPlayer-list li[data-index="+num2+"]";
               $(".skPlayer-list li").removeAttr("class");
                $(text2).attr("class","skPlayer-curMusic");
                $(".skPlayer-play-btn").attr("class","skPlayer-play-btn skPlayer-pause");
                $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
            });
            // 下一首,并且为播放状态
            $(document).on('click', ".fa-forward", function(){
                frame.find(".next_music").click();
                $(".skPlayer-play-btn").attr("class","skPlayer-play-btn skPlayer-pause");
                var num2 = frame.find(".skPlayer-curMusic").attr("data-index");
                var text2 = ".skPlayer-list li[data-index="+num2+"]";
                $(".skPlayer-list li").removeAttr("class");
                $(text2).attr("class","skPlayer-curMusic");
                $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
            });
            var frame_play_btn = frame.find(".skPlayer-play-btn")
            function chrome_spin(){
                if(frame_play_btn.attr("class")=="skPlayer-play-btn skPlayer-pause"){
                    $(".fa-chrome").attr("class","fa fa-chrome fa-spin");
                }else{
                    $(".fa-chrome").attr("class","fa fa-chrome");
                }
            }
            chrome_spin();
        });
    </script>
</body>
</html>
