<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>胡捷个人网站，欢迎您的到来</title>
    <link rel="Shortcut Icon" href="/static/image/H.ico">
    <meta name="keywords" content="胡捷，个人博客，个人网站">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
</head>
<frameset rows="0,100" frameborder="no">
    <frame name="hidden-player" src="/music">
    <frame id="boss" name="main" src="/main">
</frameset>
</html>