<!--首页,继承导航栏-->
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="/static/js/snowfall.js"></script>
{% endblock %}

{% block content %}
    <!--轮播幻灯片-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="/static/boot.jpg">

        </div>

        <div class="item">
          <img src="/static/code.jpg">

        </div>

        <div class="item">
          <img src="/static/michael.jpg">

        </div>

        <div class="item">
          <img src="/static/anime.jpg">

        </div>
    </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span id="haha" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--巨幕-->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>&ensp;欢迎访问我的网站</p>

        </div>
    </div>

    <div class="container">
        <div class="row welcome text-centet">
            <div class="col-12">
                <h1 class="same" style="text-shadow:2px 2px 33px blue;">网站相关数据统计</h1>
            </div>
        </div>
        <div id="chart_set" class="row">
            <div class="col-md-5 col-md-offset-1">
                <!-- 图表容器 DOM -->
                <div id="container"></div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">七天热门阅读</a></li>
                    <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">今日热门阅读</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">昨日热门阅读</a></li>

                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade" id="home">
                        {% for hot_data in get_today_hot_data %}
                            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num }})</li>
                        {% empty %}
                            <li>今日暂时没有热门博客</li>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        {% for hot_data in get_yesterday_hot_data %}
                            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a> ({{ hot_data.read_num }})</li>
                        {% empty %}
                            <li>昨日暂时没有热门博客</li>
                        {% endfor %}
                        </div>
                    <div role="tabpanel" class="tab-pane fade active in" id="messages">
                        {% for hot_data in get_7_days_hot_blog %}
                            <li><a href="{% url 'blog_detail' hot_data.id %}">{{ hot_data.title }}</a> ({{ hot_data.read_num_sum }})</li>
                        {% empty %}
                            <li>前七天暂时没有热门博客</li>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="bkg" class="col-md-12 col-xs-12">
                <!--固定背景图和上面的文本-->
                <div id="bg1">
                    <div class="landing-text">
                        <div id="hyouka_text">
                            <img src="/static/image/hyouka.png">
                            <div class="hyouka_lists">
                                <img class="hyouka_list" src="/static/image/hyouka4.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka2.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka3.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka1.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka7.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka5.jpg">
                                <img class="hyouka_list" src="/static/image/hyouka6.jpg">
                            </div>
                            <div id="topCatch">
                                <p id="topCatch-01"></p>
                                <p id="topCatch-02"></p>
                                <p id="topCatch-03"></p>
                            </div>
                            <div id="topOnair">
                                <p id="topOnair-01"></p>
                            </div>
                            <div id="snow_player" class="fa fa-play"></div>
                            <div id="hyouka_arrow" class="fa fa-heart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row welcome text-centet">
            <div class="col-md-12 col-xs-12">
                <h1 class="same" style="text-shadow:2px 2px 33px red">profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="thumbnail">
                  <img src="static/image/coding.jpg">
                  <div class="caption">
                    <h3>热爱编程</h3>
                    <p>&emsp;&emsp;好奇心的驱使下开始学习编程，才发现了它的意义。虽然刚接触编程不久，
                        但发现自己对其是如此狂热，几乎所有的业余时间也都被用来钻研技术，来提高自己的编程能力。
                        通过编程进行着自我表达与创作，这种感受带给了我极大的自由度，而我也从中感受到了前所未有的喜悦与乐趣。
                        如果你也对编程感兴趣的话现在就马上行动吧。</p>
                    <p><a href="https://baike.baidu.com/item/%E7%BC%96%E7%A8%8B/139828" class="btn btn-info">了解</a>
                        <a href="http://www.runoob.com/" class="btn btn-warning">推荐</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="thumbnail" style="margin-top:50px">
                  <img src="static/image/sing.jpg">
                  <div class="caption">
                    <h3>Enioy music</h3>
                    <p>&emsp;&emsp;从小就喜欢听歌，周杰伦，林俊杰，王力宏，真的人才辈出。
                        现在中文歌听的少了。所以转战国外，欧美的歌手像我霉，山东天后，
                        水果姐，Sia，火星哥，抗韩英雄马老五，共和，梦龙，黄老板等都是我的菜
                        。日语歌的话像中岛美嘉，德永英明等老牌歌手比较合
                        我胃口。对了，有兴趣的可以搜一下中岛美雪，她的歌你肯定听过。</p>
                    <p><a href="https://www.bilibili.com/video/av2855285" class="btn btn-info">了解</a>
                        <a href="https://www.bilibili.com/video/av16816912" class="btn btn-warning">推荐</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="thumbnail">
                  <img src="static/image/jump.jpg">
                  <div class="caption">
                    <h3>アニメ大好き</h3>
                    <p>&emsp;&emsp;有些剧情和画面是电视剧电影等无法实现的，再加上制作成本和时间等因素，动漫是很好的表现形式
                        ，能够直观的展现作者想要表达的创意。最近几年猎奇向的动漫多了不少，
                        我也是来者不拒，不过现在日漫停滞不前大家有目共睹，主要是各种类型的动
                        漫都写的差不多了，再想创新就会更难了，期待更多的好作品出现吧。</p>
                    <p><a href="https://www.bilibili.com/video/av2724281" class="btn btn-info">了解</a>
                        <a href="https://www.bilibili.com/video/av3571686" class="btn btn-warning">推荐</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="thumbnail" style="margin-top:50px">
                  <img src="static/image/movie.jpeg">
                  <div class="caption">
                    <h3>电影人生</h3>
                    <p>&emsp;&emsp;空闲的时候谁都会想到看场电影，我也一样，比较钟意剧情片和传记。
                        电影在一定程度上反映了社会和生活中真实的一面，人们能在电影中找到一部分生活中真实的自己的影子，
                        你能从中学到一些人生阅历。
                        电影跟书籍一样，启迪心灵，开阔视野，了解更多不同人的不同想法，
                        好的思想可以让你立刻去做，好的哲理甚至可以影响人生。
                    </p>
                    <p><a href="https://baike.baidu.com/item/%E7%94%B5%E5%BD%B1/31689" class="btn btn-info">了解</a>
                        <a href="https://movie.douban.com/subject/1292064/" class="btn btn-warning">推荐</a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!--展示一下爬虫-->
    <div id="img_crwal" class="container">
        <div class="row welcome text-centet">
            <div class="col-md-12 col-xs-12">
                <h1 class="same" style="text-shadow:2px 2px 33px blue">随机抓取网络壁纸</h1>
            </div>
        </div>
        <div class="row welcome text-centet">
            <div class="col-md-7 col-xs-12">
                <div class="line">
                    <img src="/static/image/lineR.png" width="30" height="330">
                </div>
                <div class="line_center">
                    <img id="bgz-1">
                    <img id="bgz-2">
                </div>
                <div class="line">
                    <img src="/static/image/lineR.png" width="30" height="330">
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="change_image">
                    <div id="change_img" class="box foo"><div>抓取</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row welcome text-centet">
            <div class="col-md-12 col-xs-12">
                <h1 class="same"  style="text-shadow:2px 2px 33px green">翻译</h1>
            </div>
        </div>
        <div class="row welcome text-centet">
            <div class="col-md-6 col-xs-12">
                <div class="dropdown">
                  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" data-lan1="AUTO" data-lan2="AUTO">
                    <span id="tran_type_text">自动检测语言</span>
                    <span class="fa fa-caret-down"></span>
                  </button>
                  <button id="clear_tran" class="btn btn-primary" type="button" style="float:right">清空内容</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="lan" data-lan1="AUTO" data-lan2="AUTO"><a href="javascript:;" style="margin-right:100px">自动检测语言</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="en"><a href="javascript:;">中文 &nbsp;» &nbsp;英语</a></li>
                    <li class="lan" data-lan1="en" data-lan2="zh-CHS"><a href="javascript:;">英语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="ja"><a href="javascript:;">中文 &nbsp;» &nbsp;日语</a></li>
                    <li class="lan" data-lan1="ja" data-lan2="zh-CHS"><a href="javascript:;">日语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="ko"><a href="javascript:;">中文 &nbsp;» &nbsp;韩语</a></li>
                    <li class="lan" data-lan1="ko" data-lan2="zh-CHS"><a href="javascript:;">韩语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="fr"><a href="javascript:;">中文 &nbsp;» &nbsp;法语</a></li>
                    <li class="lan" data-lan1="fr" data-lan2="zh-CHS"><a href="javascript:;">法语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="ru"><a href="javascript:;">中文 &nbsp;» &nbsp;俄语</a></li>
                    <li class="lan" data-lan1="ru" data-lan2="zh-CHS"><a href="javascript:;">俄语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="de"><a href="javascript:;">中文 &nbsp;» &nbsp;德语</a></li>
                    <li class="lan" data-lan1="de" data-lan2="zh-CHS"><a href="javascript:;">德语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="vi"><a href="javascript:;">中文 &nbsp;» &nbsp;越南语</a></li>
                    <li class="lan" data-lan1="vi" data-lan2="zh-CHS"><a href="javascript:;">越南语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="id"><a href="javascript:;">中文 &nbsp;» &nbsp;印尼语</a></li>
                    <li class="lan" data-lan1="id" data-lan2="zh-CHS"><a href="javascript:;">印尼语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="es"><a href="javascript:;">中文 &nbsp;» &nbsp;西班牙语</a></li>
                    <li class="lan" data-lan1="es" data-lan2="zh-CHS"><a href="javascript:;">西班牙语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="pt"><a href="javascript:;">中文 &nbsp;» &nbsp;葡萄牙语</a></li>
                    <li class="lan" data-lan1="pt" data-lan2="zh-CHS"><a href="javascript:;">葡萄牙语 &nbsp;» &nbsp;中文</a></li>
                    <li class="lan" data-lan1="zh-CHS" data-lan2="ar"><a href="javascript:;">中文 &nbsp;» &nbsp;阿拉伯语</a></li>
                    <li class="lan" data-lan1="ar" data-lan2="zh-CHS"><a href="javascript:;">阿拉伯语 &nbsp;» &nbsp;中文</a></li>
                  </ul>
                </div>
                <br>
                <textarea id="tran_area" class="tran form-control" rows="10" placeholder="请输入需要翻译的文字内容~"></textarea>
            </div>
            <div class="col-md-6 col-xs-12">
                <textarea id="show_tran" class="tran form-control" rows="10" readonly="readonly"></textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row welcome text-centet">
            <div class="col-12">
                <h1 class="same"  style="text-shadow:2px 2px 33px blue">Learning</h1>
            </div>
        </div>

        <div class="row" style="margin-bottom:25px;">
          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="https://dormousehole.readthedocs.io/en/latest/"><img src="/static/image/flask.png"
                                                       alt="flask logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="https://dormousehole.readthedocs.io/en/latest/">Flask</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>

          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="https://pillow.readthedocs.io/en/latest/"><img src="/static/image/pillow.png"
                                                       alt="pillow logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="https://pillow.readthedocs.io/en/latest/">Pillow</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>

          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="https://yiyibooks.cn/xx/Django_1.11.6/index.html"><img src="/static/image/django.png"
                                                       alt="django logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="https://yiyibooks.cn/xx/Django_1.11.6/index.html">Django</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>
        </div>

        <div class="row">
          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="http://www.python-requests.org/en/master/"><img src="/static/image/requests.png"
                                                       alt="requests logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="http://www.python-requests.org/en/master/">Requests</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>

          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="http://www.celeryproject.org/"><img src="/static/image/celery.png"
                                                       alt="celery logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="http://www.celeryproject.org/">Celery</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>

          <div class="aitem col-md-4 clo-xs-12">
            <figure class="learn_hover">

              <div class="icon-overlay icn-link">
                <a href="https://www.django-rest-framework.org/"><img src="/static/image/djangorestframework.png"
                                                       alt="djangorestframework logo"></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="https://www.django-rest-framework.org/">Djangorestframework</a></h4>
                  <p></p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: '',
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                itemStyle: {
                    font: '9pt Trebuchet MS, Verdana, sans-serif',
                    color: 'black'
                },
                itemHoverStyle:{
                    color: 'gray'
                }
            },
            credits: { enabled: false },
        };
        $(function(){
            var arrow_num = 0;
            arrow_one();
            // hkouka显示与隐藏
            function arrow_one(){
                $("#hyouka_arrow").one("click",function(){
                    if(arrow_num%2==0){
                        $(".hyouka_list:eq(0)").css({opacity:0.6});
                        setTimeout(function(){
                            $(".hyouka_list:eq(1)").css({opacity:0.6});
                        },300);
                        setTimeout(function(){
                            $(".hyouka_list:eq(2)").css({opacity:0.6});
                        },600);
                        setTimeout(function(){
                            $(".hyouka_list:eq(3)").css({opacity:0.6});
                        },900);
                        setTimeout(function(){
                            $(".hyouka_list:eq(4)").css({opacity:0.6});
                        },1200);
                        setTimeout(function(){
                            $(".hyouka_list:eq(5)").css({opacity:0.6});
                        },1500);
                        setTimeout(function(){
                            $(".hyouka_list:eq(6)").css({opacity:0.6});
                            arrow_one();
                            arrow_num++;
                        },1800);
                        $(this).addClass("fa-rotate-180");
                    }else{
                        arrow_num++;
                        $(".hyouka_list:eq(0)").css({opacity:0});
                        setTimeout(function(){
                            $(".hyouka_list:eq(1)").css({opacity:0});
                        },300);
                        setTimeout(function(){
                            $(".hyouka_list:eq(2)").css({opacity:0});
                        },600);
                        setTimeout(function(){
                            $(".hyouka_list:eq(3)").css({opacity:0});
                        },900);
                        setTimeout(function(){
                            $(".hyouka_list:eq(4)").css({opacity:0});
                        },1200);
                        setTimeout(function(){
                            $(".hyouka_list:eq(5)").css({opacity:0});
                        },1500);
                        setTimeout(function(){
                            $(".hyouka_list:eq(6)").css({opacity:0});
                            arrow_one();
                        },1800);
                        $(this).removeClass("fa-rotate-180");
                    }
                });
            }
            // 开启下雪动画,修改作者插件功能：增加暂停与继续功能，增加多种图片下落功能。
            $('#bg1').snowfall('stop');
            var snow_num = 0;
            //点击按钮控制动画运行，并且第一次点击显示hkouka介绍text。
            $("#snow_player").click(function(){
                if(snow_num==0){
                    $('#bg1').snowfall({
                        flakeCount: 25,
                        flakeIndex: -1,
                        maxSpeed: 6,
                        minSpeed: 2,
                        maxSize: 32,
                        minSize: 4,
                        image: '/static/image/sakura-'
                    })
                    $(this).attr("class","fa fa-pause");
                    snow_num++;
                    return false;
                }
                if(snow_num%2==1){
                    $(this).attr("class","fa fa-play");
                    $('#bg1').snowfall('stop');
                }else{
                    $(this).attr("class","fa fa-pause");
                    $('#bg1').snowfall('jixu');
                }
                if(snow_num==1){
                    $('#topCatch-01').animate({width: 370}, {duration: 2500, easing: 'linear'});
                    $('#topCatch-02').delay(3000).animate({width: 250}, {duration: 1700, easing: 'linear'});
                    $('#topCatch-03').delay(5500).animate({width: 250}, {duration: 1700, easing: 'linear'});
                    $('#topOnair-01').delay(8000).animate({width: 280}, {duration: 1000, easing: 'linear'});
                }
                snow_num++;
            });
            // 图片放大时显示在最前面，z-index应为最大，并虚化其他图片。
            var hyoukaimg_num = 2;
            $(".hyouka_list").mouseover(function(){
                if(arrow_num%2==1){
                    $(this).css({"z-index":hyoukaimg_num,opacity:1});
                    $(this).siblings().addClass("hyouka_blur");
                    hyoukaimg_num+=2;
                }
            });
            $(".hyouka_list").mouseout(function(){
                if(arrow_num%2==1){
                    $(this).css({"z-index":0,opacity:0.6});
                    $(this).siblings().removeClass("hyouka_blur");
                }
            });
            // thumbnail鼠标进入特效
            $(".thumbnail").mouseover(function(){
                $(this).addClass("thumbnail_over");
            });
            $(".thumbnail").mouseout(function(){
                $(this).removeClass("thumbnail_over");
                $(this).addClass("thumbnail_out");
            });
            // 抓取图片
            function img_fun1(img_num){
                var img_div = "#img_urls div:eq(" + img_num + ")"
                var img_data = frame2.find(img_div).text();
                $('#bgz-1').fadeOut(1000,function(){
                    $('#bgz-2').fadeIn(1000,function(){
                        $("#change_img").one("click",function(){
                            img_num++;
                            img_fun2(img_num);
                            frame2.find("#img_urls").attr("title",img_num);
                        });
                    });
                    $('#bgz-1').attr("src",img_data);
                });
            }
            function img_fun2(img_num){
                var img_div = "#img_urls div:eq(" + img_num + ")"
                var img_data = frame2.find(img_div).text();
                $('#bgz-2').fadeOut(1000,function(){
                    $('#bgz-1').fadeIn(1000,function(){
                        $("#change_img").one("click",function(){
                            img_num++;
                            img_fun1(img_num);
                            frame2.find("#img_urls").attr("title",img_num);
                        });
                    });
                    $('#bgz-2').attr("src",img_data);
                });
            }
            // 访问此页就抓取前两张图片，显示第一张隐藏第二张
            var frame2 = $(parent.frames["hidden-player"].document);
            var img_num = frame2.find("#img_urls").attr("title")
            var img_num2 = img_num - 1
            var img_div1 = "#img_urls div:eq(" + img_num2 + ")";
            var img_div2 = "#img_urls div:eq(" + img_num + ")";
            var img_data1 = frame2.find(img_div1).text();
            var img_data2 = frame2.find(img_div2).text();
            $('#bgz-1').attr("src",img_data1);
            $('#bgz-2').attr("src",img_data2);
            // 点击抓取隐藏第一张显示第二张并在显示第二张的同时在第一张的位置加载第三张，此后再点击的话就循环此动作
            $("#change_img").one("click",function(){
                img_num++;
                img_fun1(img_num);
                frame2.find("#img_urls").attr("title",img_num);
            });
            //翻译
            function ajax_tran(){
                var text_num1 = $("#tran_area")[0].textLength / 35
                var text_num2 = Math.floor(text_num1)
                $(".tran").attr("rows",text_num2+10);
                var input_text = $("#tran_area").val();
                var lan1 = $("#dropdownMenu1").attr("data-lan1");
                var lan2 = $("#dropdownMenu1").attr("data-lan2");
                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                });
                $.ajax({
                    url: "{% url 'translate' %}",
                    type: 'POST',
                    data: {"input_text":input_text, "lan1":lan1, "lan2":lan2},
                    dataType: 'text',
                    cache: false,
                    success: function(data){
                        var data = JSON.parse(data)['data']
                        $("#show_tran").text(data);
                    }
                });
            }
            $(".lan").click(function(){
                var lan_text = $(this).text();
                var lan1 = $(this).attr("data-lan1");
                var lan2= $(this).attr("data-lan2");
                $("#tran_type_text").text(lan_text);
                $("#dropdownMenu1").attr("data-lan1",lan1);
                $("#dropdownMenu1").attr("data-lan2",lan2);
                ajax_tran();
            });
            tran_time = setTimeout(function(){ return false;}, 0);
            // 延时翻译：用户停止输入600毫秒后翻译
            $("#tran_area").bind('input propertychange',function(){
                clearTimeout(tran_time);
                tran_time = setTimeout(function(){ ajax_tran();}, 600);
            });
            $("#clear_tran").click(function(){
                $("#tran_area").val("");
                ajax_tran();
            });
            // 图表初始化函数
            var chart = Highcharts.chart('container', options);
            $("rect").attr("fill","rgba(255, 255, 255, 0)");
            $(window).scroll(function(){
                var nowTop = $(document).scrollTop();
                if(nowTop<=600){
                    $('#chart_set').css({opacity:"0",transition:"all 1000ms"});
                }
                if(nowTop>600){
                    $('#chart_set').css({opacity:"1",transition:"all 2000ms"});
                }
                if(nowTop>1050){
                    $('#chart_set').css({opacity:"0",transition:"all 1000ms"});
                }
            });
        });
    </script>
{% endblock %}