{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    jojo
{% endblock %}

{% block content %}
    <div class="bg">
        <div class="back"><a href="/home">返回主页</a> </div>
    </div>
    <style type="text/css">
        .bg {
            background: url(/static/image/jojo.jpg) no-repeat center center;
            display: table;
            height: 50em;
            width: 100%;
            position: relative;
            background-size: cover;
        }
        .back {
            text-align:right;
            margin: 50px 80px;
            font-size: 250%;
            font-weight:900;
        }
        .back a {
            color: #394265;
            text-decoration:none;
        }
        .back a:hover {
            color: #A68039;
        }
        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $(function(){
            $("#navbar-base").remove();
            $("#navbar-zhan").remove();
            function ll9 (){
                $("#music-bar").attr('data-original-title','你瞅啥');
                $("#music-bar").stop().animate({marginLeft:"14px",marginBottom:"14px"},300);
                $("#music-bar").tooltip('show');
            }
            setTimeout(ll9,3000);
        });
    </script>
{% endblock %}