{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    HJ网站|登录
{% endblock %}
{% block header_extends %}
<style type="text/css">
    .pull-left ul {
        padding:0;
    }
</style>
{% endblock %}
{% block nav_login_active %}active{% endblock %}

{% block content %}
    <div class="containter" >
        <div id="row" class="row">
            <div class="col-sm-6 col-xs-0"></div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            登录
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <form action="" method="POST" >
                            {% csrf_token %}
                            {% for field in login_form %}
                                <label>{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span style="list-style-type:none;" class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                            <input type="submit" value="登录" class="btn btn-default pull-right">
                        </form>
                    </div>
                </div>
                <!--第三方-->
                <div class="panel panel-default" style="width:81%;">
                  <div class="panel-heading">
                    <h3 class="panel-title">合作帐号登录</h3>
                  </div>
                  <div id="oauth_login" class="panel-body">
                      <a href="{% url 'oauth_login' %}?oauth_type=qq" data-placement="left" title="QQ登录" id="qq"><img class="qq_img" src="/static/image/qq.jpg"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=sina" data-placement="top" title="微博登录" class="fa fa-weibo"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=baidu" data-placement="right" title="百度登录"><img class="baidu_img" src="/static/image/baidu"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=github" target="_parent" title="github登录" class="fa fa-github"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=google" target="_parent" class="fa fa-google" title="google登录"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=line" target="_parent" title="line登录"><img class="line_img" src="/static/image/line.png"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=facebook" target="_parent" title="facebook登录" class="fa fa-facebook-official"></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        body {
            background: url(/static/image/login.jpg) no-repeat left center fixed;
        }
        #row {
            margin:50px 0 110px;
        }
        .panel {
            border-radius: 0px;
            box-shadow: 3px 3px 3px rgba(63,74,105,.16);
        }
        .panel .panel-heading {
            background-color:#FFF;
        }
        #oauth_login a {
            font-size:35px;
            outline:none;
            margin-left:5px;
        }
        .fa-facebook-official {
            color:#3B5998;
        }
        .qq_img {
            width:65px;
            padding-bottom: 3px;
        }
        #qq{
            margin-left:0!important;
        }
        .baidu_img {
            margin:0 13px 3px 16px;
        }
        .line_img {
            margin:0 18px 6px;
            width: 32px;
        }
        li {
            list-style-type:none;
        }
    </style>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        function ll6 (){
            $("#music-bar").attr('data-original-title','嘟嘟噜~欢迎来到登录页，支持多种方式登录哦，暂不支持微信登录，境外帐号登录需翻墙，要注意哦');
            $("#music-bar").stop().animate({marginLeft:"14px",marginBottom:"14px"},300);
            $("#music-bar").tooltip('show');
        }
        setTimeout(ll6,5000);
    </script>
{% endblock %}