{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    HJ网站|登录
{% endblock %}
{% block header_extends %}
<style type="text/css">
    .pull-left ul {
        padding:0;
    }
</style>
{% endblock %}
{% block nav_login_active %}active{% endblock %}

{% block content %}
    <div class="containter" >
        <div class="row">
            <div class="col-sm-6 col-xs-0"></div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            登录
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <form action="" method="POST" >
                            {% csrf_token %}
                            {% for field in login_form %}
                                <label>{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span style="list-style-type:none;" class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                            <input type="submit" value="登录" class="btn btn-default pull-right">
                        </form>
                    </div>
                </div>
                <!--第三方-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">合作帐号登录</h3>
                  </div>
                  <div id="oauth_login" class="panel-body">
                      <a href="{% url 'oauth_login' %}?oauth_type=QQ" title="QQ登录"><img class="qq_img" src="/static/image/qq.jpg"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=新浪微博" title="微博登录" class="fa fa-weibo"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=百度" title="百度登录"><img class="baidu_img" src="/static/image/baidu.png"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=github" target="_parent" title="github登录" class="fa fa-github"></a>
                      <a href="{% url 'oauth_login' %}?oauth_type=google" title="谷歌登录" class="fa fa-google-plus"></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        body {
            background: url(/static/image/login.jpg) no-repeat center center fixed;
            background-size: cover;
            width:100%;
            height:auto;
            z-index:1;
        }
        .row {
            margin:4em 5em 15em;
        }
        .panel {
            border-radius: 0px;
            box-shadow: 5px 5px 5px #888888;
        }
        .panel .panel-heading {
            background-color:#FFF;
        }
        #oauth_login {
            padding:0 0 0 10px;
        }
        #oauth_login a {
            font-size:20px;
            outline:none;
        }
        .qq_img {
            width:40px;
            padding-bottom: 3px;
        }
        .baidu_img {
            margin:0 15px 3px;
        }
        li {
            list-style-type:none;
        }
    </style>

{% endblock %}
