<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>欢迎来到我的网站</title>
    <link rel="Shortcut Icon" href="/static/image/H.ico">
    <meta name="keywords" content="胡捷，个人博客，个人网站">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
	<link rel="stylesheet" href="/static/css/style.css">
	<!--[if IE]>
		<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<main>
		<div class="-content -index">
			<div>
				<div class="bounce-wrap">
					<div class="bounce">
						<div class="-shadow"></div>
						<div class="-box-wrap js-box-wrap">
							<div class="-box">
								<div class="front wall"></div>
								<div class="back wall"></div>
								<div class="right wall"></div>
								<div class="left wall"></div>

								<div class="front-right wall"></div>
								<div class="front-left wall"></div>
								<div class="back-right wall"></div>
								<div class="back-left wall"></div>
							</div>
						</div>
						<div id="emitter"></div>
                        <a href="/home">
                            <img id="logo" src="/static/image/geass.png" style="width:100px;display:none">
                        </a>
					</div>
				</div>
	    		</div>
		</div>
	</main>
	<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
	<script src="/static/js/index.js"></script>
</body>
</html>