<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/skPlayer/skPlayer.min.js"></script>
</head>
<body>
    <div id="skPlayer"></div>
    <div class="prev_music" onclick="player.prev()"></div>
    <div class="next_music" onclick="player.next()"></div>
</body>
    <script>
        var player = new skPlayer({
            autoplay: true,
            //可选项,自动播放,默认为false,true/false
            listshow: false,
            //可选项,列表显示,默认为true,true/false
            music: {
                //必需项,音乐配置
                type: 'file',
                //必需项,自配置文件方式指定填'file'
                source: [
                    //必需项,音乐文件数组
                    {
                        name: '僕らの手には何もないけど',
                        //必需项,歌名
                        author: 'RAM WIRE',
                        //必需项,歌手
                        src: '/static/music/RAM WIRE-僕らの手には何もないけど.mp3',
                        //必需项,音乐文件
                        cover: '/static/music/RAM WIRE-僕らの手には何もないけど.jpg'
                        //必需项,封面图片
                    },
                    {
                        name: '僕が死のうと思ったのは',
                        //必需项,歌名
                        author: '中島美嘉',
                        //必需项,歌手
                        src: '/static/music/中島美嘉-僕が死のうと思ったのは.mp3',
                        //必需项,音乐文件
                        cover: '/static/music/中島美嘉-僕が死のうと思ったのは.jpg'
                        //必需项,封面图片
                    },
                    {
                        name: '桜色舞うころ',
                        //必需项,歌名
                        author: '德永英明',
                        //必需项,歌手
                        src: '/static/music/德永英明-桜色舞うころ.mp3',
                        //必需项,音乐文件
                        cover: '/static/music/德永英明-桜色舞うころ.jpg'
                        //必需项,封面图片
                    },
                    {
                        name: '打上花火',
                        //必需项,歌名
                        author: '米津玄師&daoko',
                        //必需项,歌手
                        src: '/static/music/米津玄師&daoko-打上花火.mp3',
                        //必需项,音乐文件
                        cover: '/static/music/米津玄師&daoko-打上花火.jpg'
                        //必需项,封面图片
                    },
                    {name: 'My Friend',author: 'SPYAIR',src: '/static/music/My Friend – SPYAIR.mp3',cover: '/static/music/My Friend – SPYAIR.jpg'},
                    {name: 'あなただけ見つめてる',author: '大黒摩季',src: '/static/music/あなただけ見つめてる – 大黒摩季.mp3',cover: '/static/music/あなただけ見つめてる – 大黒摩季.jpg'},
                    {name: '心做し',author: '花たん',src: '/static/music/心做し – 花たん.mp3',cover: '/static/music/心做し – 花たん.jpg'},
                    {name: 'Lemon-《非自然死亡》主题曲',author: '米津玄師',src: '/static/music/Lemon- 日剧《非自然死亡》主题曲– 米津玄師.mp3',cover: '/static/music/Lemon- 日剧《非自然死亡》主题曲– 米津玄師.jpg'},
                    {name: '回レ! 雪月花',author: '原田ひとみ',src: '/static/music/回レ! 雪月花 – 原田ひとみ.mp3',cover: '/static/music/回レ! 雪月花 – 原田ひとみ.jpg'},
                    {name: 'いけないボーダーライン',author: 'ワルキューレ',src: '/static/music/いけないボーダーライン – ワルキューレ.mp3',cover: '/static/music/いけないボーダーライン – ワルキューレ.jpg'},
                    {name: '恋-(逃避虽可耻但有用)主题曲',author: '星野源',src: '/static/music/恋-日剧《逃避虽可耻但有用》主题曲 – 星野源.mp3',cover: '/static/music/恋-日剧《逃避虽可耻但有用》主题曲 – 星野源.jpg'},
                    {name: 'Aliez',author: 'Mizuki',src: '/static/music/Aliez- Mizuki.mp3',cover: '/static/music/Aliez- Mizuki.jpg'},
                    {name: 'Brand New World',author: '海贼王',src: '/static/music/Brand New World – 海贼王.mp3',cover: '/static/music/Brand New World – 海贼王.jpg'},
                    {name: '自傷無色',author: '花たん',src: '/static/music/自傷無色 – 花たん.mp3',cover: '/static/music/自傷無色 – 花たん.jpg'},
                    {name: '世界が終るまでは…',author: 'WANDS',src: '/static/music/世界が終るまでは… – WANDS.mp3',cover: '/static/music/世界が終るまでは… – WANDS.jpg'},

                    {name: '落叶归根',author: '王力宏',src: '/static/music/落叶归根 – 王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: 'Awake',author: '岩崎琢',src: '/static/music/Awake – 岩崎琢.mp3',cover: '/static/music/Awake – 岩崎琢.jpg'},
                    {name: 'Centuries',author: 'Fall Out Boy',src: '/static/music/Centuries – Fall Out Boy.mp3',cover: '/static/music/Fall Out Boy.jpg'},
                    {name: 'Demons',author: 'Imagine Dragons',src: '/static/music/Demons – Imagine Dragons.mp3',cover: '/static/music/Demons – Imagine Dragons.jpg'},
                    {name: 'ブルーバード',author: 'いきものがかり',src: '/static/music/ブルーバード – いきものがかり.mp3',cover: '/static/music/ブルーバード – いきものがかり.jpg'},
                    {name: '醉赤壁',author: '林俊杰',src: '/static/music/醉赤壁 – 林俊杰.mp3',cover: '/static/music/林俊杰.jpg'},
                    {name: '夜曲',author: '周杰伦',src: '/static/music/夜曲 – 周杰伦.mp3',cover: '/static/music/周杰伦.jpg'},
                    {name: '修炼爱情',author: '林俊杰',src: '/static/music/修炼爱情 – 林俊杰.mp3',cover: '/static/music/林俊杰.jpg'},
                    {name: 'We Can't Stop',author: 'Boyce Avenue&Bea Miller',src: '/static/music/We Can't Stop – Boyce Avenue&Bea Miller.mp3',cover: '/static/music/We Can't Stop – Boyce Avenue&Bea Miller.jpg'},
                    {name: '好心分手',author: '卢巧音&王力宏',src: '/static/music/好心分手 – 卢巧音&王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: 'Something Just Like This',author: 'Alex Goot&Madilyn Bailey',src: '/static/music/Something Just Like This – Alex Goot&Madilyn Bailey.mp3',cover: '/static/music/Something Just Like This – Alex Goot&Madilyn Bailey.jpg'},
                    {name: 'Dream It Possible',author: 'Delacey',src: '/static/music/Dream It Possible – Delacey.mp3',cover: '/static/music/Dream It Possible – Delacey.jpg'},
                    {name: '雪の華',author: '中島美嘉',src: '/static/music/雪の華 – 中島美嘉.mp3',cover: '/static/music/雪の華 – 中島美嘉.jpg'},
                    {name: '学不会',author: '林俊杰',src: '/static/music/学不会 – 林俊杰.mp3',cover: '/static/music/林俊杰.jpg'},
                    {name: 'Wake Me Up',author: 'Avicii',src: '/static/music/Wake Me Up – Avicii.mp3',cover: '/static/music/Wake Me Up – Avicii.jpg'},
                    {name: '发如雪',author: '周杰伦',src: '/static/music/发如雪 – 周杰伦.mp3',cover: '/static/music/周杰伦.jpg'},
                    {name: 'Legends Never Die',author: 'Against The Current',src: '/static/music/Legends Never Die – Against The Current.mp3',cover: '/static/music/Legends Never Die – Against The Current.jpg'},
                    {name: 'Wave',author: '96猫',src: '/static/music/Wave – 96猫.mp3',cover: '/static/music/Wave – 96猫.jpg'},
                    {name: 'Sakura',author: 'いきものがかり',src: '/static/music/Sakura – いきものがかり.mp3',cover: '/static/music/Sakura – いきものがかり.jpg'},
                    {name: '需要人陪',author: '王力宏',src: '/static/music/需要人陪 – 王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: '春雨里洗过的太阳',author: '王力宏',src: '/static/music/春雨里洗过的太阳 – 王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: 'Counting Stars',author: 'OneRepublic',src: '/static/music/Counting Stars – OneRepublic.mp3',cover: '/static/music/Counting Stars – OneRepublic.jpg'},
                    {name: 'Immortals',author: 'Fall Out Boy',src: '/static/music/Immortals – Fall Out Boy.mp3',cover: '/static/music/Fall Out Boy.jpg'},
                    {name: '一番の宝物 (Original Version)',author: 'karuta',src: '/static/music/一番の宝物 (Original Version) – karuta.mp3',cover: '/static/music/一番の宝物 (Original Version) – karuta.jpg'},
                    {name: 'The Phoenix',author: 'Fall Out Boy',src: '/static/music/The Phoenix – Fall Out Boy.mp3',cover: '/static/music/Fall Out Boy.jpg'},
                    {name: '大城小爱',author: '王力宏',src: '/static/music/大城小爱 – 王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: '我们的歌',author: '王力宏',src: '/static/music/我们的歌 – 王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: '另一个天堂',author: '张靓颖&王力宏',src: '/static/music/另一个天堂 – 张靓颖&王力宏.mp3',cover: '/static/music/王力宏.jpg'},
                    {name: 'サムライハート',author: 'SPYAIR',src: '/static/music/サムライハート – SPYAIR.mp3',cover: '/static/music/サムライハート – SPYAIR.jpg'},




                ]
            }
        });
        $(window).load(function(){
            window.parent.document.getElementById("boss").src = "/index";
        });
    </script>
</html>