<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/skPlayer/skPlayer.min.js"></script>
    <meta name="keywords" content="胡捷，个人博客，个人网站">
    <meta name="description" content="一个编程菜鸟的个人博客网站，主要用来分享互联网资讯、教程、学习笔记、感悟以及记录博主的一些生活琐事等。">
</head>
<body>
    <div id="skPlayer"></div>
    <div class="prev_music" onclick="player.prev()"></div>
    <div class="next_music" onclick="player.next()"></div>
</body>
    <script>
        <!--音乐播放器两种方式：网易云在线，本地服务器。两套方案都准备好以防万一。-->
        <!--网易云-->
        var player = new skPlayer({
            autoplay: true,
            listshow: false,
            mode: 'listloop',
            music: {
                type: 'cloud',
                source: 147843200
            }
        });

    </script>
</html>